Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fill default schedule
  rtainjapan-layouts/src/extension/schedule.ts
Due: tslint -p . -t stylish --fix, prettier --write

remove more lib
  rtainjapan-layouts/src/dashboard/lib/twitter-callback.ts
  rtainjapan-layouts/src/dashboard/views/tech.tsx
Due: tslint -p . -t stylish --fix, prettier --write

style tweaks
  rtainjapan-layouts/package.json
  rtainjapan-layouts/src/dashboard/views/tech.tsx
  rtainjapan-layouts/yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

enable checklist
  rtainjapan-layouts/src/dashboard/components/checklist/index.tsx
  rtainjapan-layouts/src/dashboard/views/tech.tsx
Due: tslint -p . -t stylish --fix, prettier --write

add pk to Runner type itself
  rtainjapan-layouts/package.json
  rtainjapan-layouts/src/extension/schedule.ts
  rtainjapan-layouts/src/replicants/index.ts
  rtainjapan-layouts/src/replicants/lib.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

enable schedule
  rtainjapan-layouts/src/dashboard/components/schedule/edit.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/index.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/run-info.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/typeahead.tsx
  rtainjapan-layouts/src/dashboard/views/tech.tsx
Due: tslint -p . -t stylish --fix, prettier --write

dont emit "additionalProperties": false
  rtainjapan-layouts/scripts/ts-to-schema.ts
Due: tslint -p . -t stylish --fix, prettier --write

enable twitter
  rtainjapan-layouts/src/dashboard/components/schedule/index.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/run-info.tsx
  rtainjapan-layouts/src/dashboard/components/twitter/index.tsx
  rtainjapan-layouts/src/dashboard/views/tech.tsx
  rtainjapan-layouts/src/dashboard/views/twitter-account.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix graphics errors
  rtainjapan-layouts/package.json
  rtainjapan-layouts/src/graphics/components/lib/base-info.tsx
  rtainjapan-layouts/src/graphics/components/lib/nameplate/index.tsx
  rtainjapan-layouts/src/graphics/components/lib/tweet.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-commentator.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-runner.tsx
  rtainjapan-layouts/src/graphics/components/upcoming-run.tsx
  rtainjapan-layouts/src/graphics/tsconfig.json
  rtainjapan-layouts/src/graphics/views/ds1.tsx
  rtainjapan-layouts/src/graphics/views/gb1.tsx
  rtainjapan-layouts/src/graphics/views/hd1.tsx
  rtainjapan-layouts/src/graphics/views/sd1.tsx
  rtainjapan-layouts/src/graphics/views/sd2.tsx
  rtainjapan-layouts/src/graphics/views/sd3.tsx
  rtainjapan-layouts/webpack.config.ts
  rtainjapan-layouts/webpack/graphics.html
  rtainjapan-layouts/yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

Revert "temporary disable graphics"
  rtainjapan-layouts/package.json
Due: prettier --write, sort-package-json

fix graphics styles
  rtainjapan-layouts/src/graphics/components/break-background.css
  rtainjapan-layouts/src/graphics/components/break-background.tsx
  rtainjapan-layouts/src/graphics/lib/common.css
  rtainjapan-layouts/src/graphics/lib/common.pug
  rtainjapan-layouts/src/graphics/styles/common.css
  rtainjapan-layouts/src/graphics/views/break.tsx
  rtainjapan-layouts/src/graphics/views/ds1.tsx
  rtainjapan-layouts/src/graphics/views/gb1.tsx
  rtainjapan-layouts/src/graphics/views/hd1.tsx
  rtainjapan-layouts/src/graphics/views/sd1.tsx
  rtainjapan-layouts/src/graphics/views/sd2.tsx
  rtainjapan-layouts/src/graphics/views/sd3.tsx
Due: tslint -p . -t stylish --fix, prettier --write

add clip-path-calculator
  rtainjapan-layouts/scripts/clip-path-calculator.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix replicant name refs
  rtainjapan-layouts/src/graphics/components/lib/nameplate/index.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-game.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-timer.tsx
Due: tslint -p . -t stylish --fix, prettier --write

replace background
  rtainjapan-layouts/src/graphics/images/background.png
Due: none

use migmix on all graphics
  rtainjapan-layouts/src/graphics/styles/common.css
  rtainjapan-layouts/src/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

handle when 0 commentor
  rtainjapan-layouts/src/graphics/components/rtaij-commentator.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix hd1 style
  rtainjapan-layouts/src/graphics/views/hd1.tsx
Due: tslint -p . -t stylish --fix, prettier --write

optimize docker build
  .dockerignore
  Dockerfile
  package.json
  scripts/postinstall.ts
  yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

replace/add images
  rtainjapan-layouts/src/graphics/images/break/break-background.png
  rtainjapan-layouts/src/graphics/images/break/notification.png
  rtainjapan-layouts/src/graphics/images/break/separator.png
Due: none

fix "cannot create key on ''" error from twitter extension
  rtainjapan-layouts/src/extension/twitter.ts
Due: tslint -p . -t stylish --fix, prettier --write

modify layouts
  rtainjapan-layouts/package.json
  rtainjapan-layouts/src/graphics/components/upcoming-run.tsx
  rtainjapan-layouts/src/graphics/views/3ds1.tsx
  rtainjapan-layouts/src/graphics/views/break.tsx
  rtainjapan-layouts/src/graphics/views/ds1-flat.tsx
  rtainjapan-layouts/src/graphics/views/ds1.tsx
  rtainjapan-layouts/src/graphics/views/gba1.tsx
  rtainjapan-layouts/src/graphics/views/gba2.tsx
  rtainjapan-layouts/src/graphics/views/hd2.tsx
  rtainjapan-layouts/src/graphics/views/sd1.tsx
  rtainjapan-layouts/src/graphics/views/sd3.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

remove dotenv dep
  rtainjapan-layouts/package.json
  rtainjapan-layouts/webpack.config.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

not transpile only in Dockerfile
  Dockerfile
Due: none

remove non-existing layout
  rtainjapan-layouts/package.json
Due: prettier --write, sort-package-json

not transpile only in npm life-cycle script
  package.json
Due: prettier --write, sort-package-json

twitch is optional
  rtainjapan-layouts/src/bundle-config/index.ts
Due: tslint -p . -t stylish --fix, prettier --write

test
  .editorconfig
  .travis.yml
Due: none

typo
  .travis.yml
Due: none

build & push on travis
  .travis.yml
  scripts/docker-push
Due: none

deploy "next" tag
  .travis.yml
  scripts/docker-push
Due: none

maybe no next tag
  .travis.yml
Due: none

typo
  .editorconfig
Due: none

add manual docker script
  scripts/manual-build-push
Due: none

include twitter callback in docker image
  Dockerfile
Due: none

chore(CI): add Travis
  .editorconfig
  .travis.yml
Due: none

chore(CI): add slack notification
  .travis.yml
Due: none

chore(CI): fix Travis' deploy job
  .travis.yml
  travis/docker-deploy
Due: none

chore(CI): setup automatic staging deployment
  .travis.yml
  travis/id_rsa.enc
  travis/staging-deploy
Due: none

chore(CI): fix deploy key decryption
  .travis.yml
Due: none

chore(CI): make travis scripts executable
  travis/staging-deploy
Due: none

Path conditions:
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,html}
  sort-package-json: any of: package.json
