Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

refactor
  src/browser/graphics/views/setup-idol.tsx
Due: tslint -p . -t stylish --fix, prettier --write

RiJW2023 セットアップレイアウトをレイヤー毎に表示できるようにした (#737)
  src/browser/graphics/views/setup-idol.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat(dashboard): move runner up & down (#714)
  package.json
  schemas/lib/participant.json
  schemas/lib/run.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/graphics/components/lib/hooks.ts
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/views/game-scene/templates/horizontal-nameplates.tsx
  src/browser/graphics/views/game-scene/templates/vertical-gameinfo.tsx
  src/extension/sample-json/tracker/run.json
  src/extension/tracker.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix video size style
  src/browser/graphics/views/interval-video.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix
  src/browser/graphics/views/interval-video.tsx
Due: tslint -p . -t stylish --fix, prettier --write

delete unused import
  src/browser/graphics/views/interval-video.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: fill null to slots on reset timer
  src/extension/timekeeping.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix: fill null to slots on reset timer (#740)
  src/extension/timekeeping.ts
Due: tslint -p . -t stylish --fix, prettier --write

wip: With use nodecg core replicant
  package-lock.json
  package.json
  src/browser/dashboard/views/video-control.tsx
  src/browser/nodecg-core.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

幕間動画再生時のリサイズを修正する (#739)
  src/browser/graphics/views/interval-video.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: finish timer when 4 slots filled by not null
  src/extension/timekeeping.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: finish timer when 4 slots filled by not null (#741)
  src/extension/timekeeping.ts
Due: tslint -p . -t stylish --fix, prettier --write

Twitter/ファンアート表示機能仮対応
  package.json
  schemas/tweets-temp.json
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-add.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/twitter.tsx
  src/browser/graphics/components/fan-art-tweet.tsx
  src/browser/graphics/components/sponsor/index.tsx
  src/browser/graphics/views/setup-idol.tsx
  src/nodecg/messages.d.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

DashboardのUI修正
  src/browser/dashboard/components/twitter/tweet-item.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Twitter/ファンアート表示機能仮対応 (#742)
  package.json
  schemas/tweets-temp.json
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-add.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/twitter.tsx
  src/browser/graphics/components/fan-art-tweet.tsx
  src/browser/graphics/components/sponsor/index.tsx
  src/browser/graphics/views/setup-idol.tsx
  src/nodecg/messages.d.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix: Sync nameplate state
  package-lock.json
  package.json
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/nameplate/sync-display.tsx
  src/browser/graphics/views/game.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

refactor
  src/browser/graphics/components/nameplate/sync-display.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix
  src/browser/graphics/components/nameplate/sync-display.tsx
Due: tslint -p . -t stylish --fix, prettier --write

ネームプレートの同期がズレるのを修正した (#743)
  package-lock.json
  package.json
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/nameplate/sync-display.tsx
  src/browser/graphics/views/game.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

RTAiJS2024用配色変更、ポケモン用レイアウト追加
  package.json
  schemas/poke.json
  src/browser/dashboard/views/poke.tsx
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/images/Rchan_count.webm
  src/browser/graphics/images/background_setup_temp.png
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/icon_commentary.svg
  src/browser/graphics/images/icon_commentary_lit.svg
  src/browser/graphics/images/icon_music.svg
  src/browser/graphics/images/icon_nico.svg
  src/browser/graphics/images/icon_nocamera.svg
  src/browser/graphics/images/icon_runner.svg
  src/browser/graphics/images/icon_runner_lit.svg
  src/browser/graphics/images/icon_twitch.svg
  src/browser/graphics/images/icon_twitter.svg
  src/browser/graphics/images/icon_youtube.svg
  src/browser/graphics/images/speech_nameplate.svg
  src/browser/graphics/images/trouble.webm
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/game-scene/10x9-2-poke.tsx
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

lintfix
  src/browser/graphics/views/game-scene/10x9-2-poke.tsx
Due: tslint -p . -t stylish --fix, prettier --write

特定条件で曲名末尾ライセンス情報を無視する
  configschema.json
  src/browser/graphics/components/music.tsx
Due: tslint -p . -t stylish --fix, prettier --write

画像ファイル系の配置場所間違えを修正
  src/browser/graphics/images/Rchan_count.webm
  src/browser/graphics/images/icon_commentary.svg
  src/browser/graphics/images/icon_commentary_lit.svg
  src/browser/graphics/images/icon_music.svg
  src/browser/graphics/images/icon_nico.svg
  src/browser/graphics/images/icon_nocamera.svg
  src/browser/graphics/images/icon_runner.svg
  src/browser/graphics/images/icon_runner_lit.svg
  src/browser/graphics/images/icon_twitch.svg
  src/browser/graphics/images/icon_twitter.svg
  src/browser/graphics/images/icon_youtube.svg
  src/browser/graphics/images/rchan_count.webm
Due: none

feat: YouTube handle in nameplate
  schemas/lib/run.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/nameplate/sync-display.tsx
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

RTAiJS2024用配色変更、ポケモン用レイアウト追加 (#749)
  package.json
  schemas/poke.json
  src/browser/dashboard/views/poke.tsx
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/images/background_setup_temp.png
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/rchan_count.webm
  src/browser/graphics/images/speech_nameplate.svg
  src/browser/graphics/images/trouble.webm
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/game-scene/10x9-2-poke.tsx
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

特定条件で曲名末尾ライセンス情報を無視する (#751)
  configschema.json
  src/browser/graphics/components/music.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: YouTube handle in nameplate (#752)
  schemas/lib/run.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/nameplate/sync-display.tsx
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

implements
  package-lock.json
  package.json
  schemas/pokemon-control.json
  src/browser/dashboard/views/poke.tsx
  src/extension/index.ts
  src/extension/pokemon.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: Disable control on auto update
  src/browser/dashboard/views/poke.tsx
Due: tslint -p . -t stylish --fix, prettier --write

ポケモン赤緑の捕獲数を自動で取得するようにした (#753)
  package-lock.json
  package.json
  schemas/pokemon-control.json
  src/browser/dashboard/views/poke.tsx
  src/extension/index.ts
  src/extension/pokemon.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: Fan art on setup
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: Fan art on setup (#754)
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Github Actionのビルドパターンを増やした
  .github/workflows/ci.yml
Due: none

Github Actionのビルドパターンを増やした (#756)
  .github/workflows/ci.yml
Due: none

update w2024 image
  src/browser/graphics/images/background.png
  src/browser/graphics/images/background_setup_temp.png
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/rchan_count.webm
  src/browser/graphics/images/speech_nameplate.svg
  src/browser/graphics/images/trouble.webm
Due: none

update w2024 color
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

s2024で現場で編集されてたやつ
  src/browser/graphics/components/camera.tsx
Due: tslint -p . -t stylish --fix, prettier --write

delete poke
  package.json
  schemas/poke.json
  schemas/pokemon-control.json
  src/browser/dashboard/views/poke.tsx
  src/browser/graphics/views/game-scene/10x9-2-poke.tsx
  src/extension/index.ts
  src/extension/pokemon.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json
