Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

chore(deps): update dependency lint-staged to v10
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency cross-env to v7
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency downshift to v5
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency css-loader to v3.4.2
  yarn.lock
Due: none

chore(deps): update dependency globby to v10.0.2
  yarn.lock
Due: none

chore(deps): update dependency webpack to v4.41.6
  yarn.lock
Due: none

chore(deps): update babel monorepo to v7.8.4
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v16.9.20
  yarn.lock
Due: none

chore(deps): update dependency uuid to v3.4.0
  yarn.lock
Due: none

chore(deps): update dependency webpack-cli to v3.3.11
  yarn.lock
Due: none

fix(deps): update dependency date-fns to v2.9.0
  yarn.lock
Due: none

chore(deps): update dependency globby to v11
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.39.1
  yarn.lock
Due: none

chore(deps): update dependency ts-node to v8.6.2
  yarn.lock
Due: none

chore(deps): update dependency @types/styled-components to v4.4.3
  yarn.lock
Due: none

chore(deps): update dependency downshift to v3.4.8
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v10.0.7
  yarn.lock
Due: none

chore(deps): update dependency mini-css-extract-plugin to ^0.9.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v0.8.2
  yarn.lock
Due: none

chore(deps): update dependency rimraf to v3.0.2
  yarn.lock
Due: none

chore(deps): update dependency style-loader to v1.1.3
  yarn.lock
Due: none

chore(deps): update dependency typescript to v3.7.5
  yarn.lock
Due: none

chore(deps): update dependency styled-components to v5
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/html-webpack-plugin to v3.2.2
  yarn.lock
Due: none

chore(deps): update dependency @types/node to v10.17.16
  yarn.lock
Due: none

chore(deps): update dependency @types/source-map-support to v0.5.1
  yarn.lock
Due: none

chore(deps): update dependency @types/webpack-node-externals to v1.7.1
  yarn.lock
Due: none

chore(deps): update dependency husky to v4
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.21
  yarn.lock
Due: none

chore(deps): update dependency @types/react-dom to v16.9.5
  yarn.lock
Due: none

chore(deps): update dependency prettier to v1.19.1
  yarn.lock
Due: none

apply style changes
  scripts/clip-path-calculator.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore(deps): update dependency @types/mini-css-extract-plugin to v0.9.1
  yarn.lock
Due: none

chore(deps): update dependency babel-plugin-styled-components to v1.10.7
  yarn.lock
Due: none

chore(deps): update dependency file-loader to v5.1.0
  yarn.lock
Due: none

chore(deps): update mui monorepo
  yarn.lock
Due: none

chore(deps): update dependency tslib to v1.11.0
  yarn.lock
Due: none

chore(deps): update dependency downshift to v5.0.3
  yarn.lock
Due: none

chore(deps): update dependency ts-nodecg to v0.3.1
  yarn.lock
Due: none

chore(deps): update dependency @types/styled-components to v5
  package.json
  yarn.lock
Due: prettier --write, sort-package-json
