Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

Update dependency lint-staged to ^9.4.2
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency @types/node to ^10.14.21
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency @types/twit to ^2.2.23
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency @types/lodash to ^4.14.144
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency typescript to ^3.6.4
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update babel monorepo
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency webpack to ^4.41.1
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency husky to ^3.0.9
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency googleapis to v44
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency @types/react to ^16.9.9
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency downshift to ^3.3.5
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency webpack to ^4.41.2
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency webpack-bundle-analyzer to ^3.6.0
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency @types/node to ^10.14.22
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency @types/react-dom to ^16.9.2
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update dependency @types/webpack to ^4.39.5
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update renovate config
  renovate.json
Due: prettier --write

chore(deps): update dependency @types/webpack to v4.39.5
  package-lock.json
Due: prettier --write

chore(deps): update dependency uuid to v3.3.3
  package-lock.json
Due: prettier --write

chore(deps): update mui monorepo to v4.5.1
  package-lock.json
Due: prettier --write

fix: type error
  src/browser/dashboard/components/lib/colored-button.tsx
  src/browser/dashboard/views/tech.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore(deps): update dependency ts-loader to v6.2.1
  package-lock.json
Due: prettier --write

chore(deps): update react monorepo to v16.11.0
  package-lock.json
Due: prettier --write

fix(deps): update dependency date-fns to v2
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: updates for date-fns v2
  package-lock.json
  src/browser/dashboard/components/twitter/tweet-item.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore(deps): update dependency @types/node to v10.17.0
  package-lock.json
Due: prettier --write

chore(deps): update dependency @types/rimraf to v2.0.3
  package-lock.json
Due: prettier --write

chore(deps): update dependency @types/react to v16.9.11
  package-lock.json
Due: prettier --write

chore(deps): update dependency @types/react-dom to v16.9.3
  package-lock.json
Due: prettier --write

chore(deps): update dependency downshift to v3.3.7
  package-lock.json
Due: prettier --write

chore(deps): update dependency downshift to v3.4.0
  package-lock.json
Due: prettier --write

chore(deps): update dependency @types/styled-components to v4.1.20
  package-lock.json
Due: prettier --write

fix(deps): update dependency include-nodecg to v0.0.1
  package-lock.json
Due: prettier --write

fix(deps): update dependency source-map-support to v0.5.15
  package-lock.json
Due: prettier --write

chore(deps): update dependency @material-ui/core to v4.5.2
  package-lock.json
Due: prettier --write

fix(deps): update dependency source-map-support to v0.5.16
  package-lock.json
Due: prettier --write

chore(deps): update dependency @types/webpack to v4.39.7
  package-lock.json
Due: prettier --write

chore(deps): update dependency @types/uuid to v3.4.6
  package-lock.json
Due: prettier --write

chore(deps): update dependency styled-components to v4.4.1
  package-lock.json
Due: prettier --write

chore(deps): update dependency downshift to v3.4.1
  package-lock.json
Due: prettier --write
