Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

fix countdown
  src/browser/graphics/components/music.tsx
  src/browser/graphics/views/countdown.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix countdown shadow
  src/browser/graphics/views/countdown.tsx
Due: tslint -p . -t stylish --fix, prettier --write

待機画面のカメラ枠修正
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: Camera cropping
  src/browser/graphics/components/camera.tsx
  src/browser/graphics/components/rounded-hole-image.tsx
  src/browser/graphics/views/game-scene/templates/race-horizontal.tsx
  src/browser/graphics/views/game-scene/templates/solo-l-shape.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix cameras
  src/browser/graphics/components/camera.tsx
  src/browser/graphics/components/rounded-hole-image.tsx
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

SNSアニメーションに適切にrefを付与　正しいstateに修正
  src/browser/graphics/components/nameplate/ui/single-row.tsx
  src/browser/graphics/components/nameplate/ui/two-row.tsx
Due: tslint -p . -t stylish --fix, prettier --write

アニメーションの条件を微調整
  src/browser/graphics/components/nameplate/ui/single-row.tsx
  src/browser/graphics/components/nameplate/ui/two-row.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: In-game donation messages
  src/browser/dashboard/components/donations/donation-item.tsx
  src/browser/dashboard/components/donations/index.tsx
  src/browser/graphics/components/donation-message.tsx
  src/browser/graphics/components/donation-message/in-game-popup.tsx
  src/browser/graphics/components/donation-message/index.tsx
  src/browser/graphics/components/donation-message/ui/in-game.tsx
  src/browser/graphics/components/donation-message/ui/setup.tsx
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/countdown.tsx
  src/browser/graphics/views/credit.tsx
  src/browser/graphics/views/game-scene/templates/race-horizontal.tsx
  src/browser/graphics/views/game-scene/templates/race-vertical.tsx
  src/browser/graphics/views/game-scene/templates/solo-l-shape.tsx
  src/browser/graphics/views/game-scene/templates/solo-split.tsx
  src/extension/tracker.ts
  src/nodecg/messages.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix: Horizontal game info platform
  src/browser/graphics/components/game-info/horizontal.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: Prevent null string displayed
  src/browser/graphics/components/game-info/horizontal.tsx
  src/browser/graphics/components/game-info/semi-horizontal.tsx
  src/browser/graphics/components/game-info/vertical.tsx
Due: tslint -p . -t stylish --fix, prettier --write

SNS切り替えの待機時間を微調整
  src/browser/graphics/components/nameplate/ui/single-row.tsx
  src/browser/graphics/components/nameplate/ui/two-row.tsx
Due: tslint -p . -t stylish --fix, prettier --write

test: dashboard と graphics を網羅したスクリーンショット回帰テストを追加
  .github/workflows/ci.yml
  .gitignore
  package.json
  test/fixtures/sample-data.ts
  test/run-screenshot.sh
  test/screenshot-graphics.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix screenshot script
  package.json
  test/fixtures/sample-data.ts
  test/run-screenshot.sh
  test/run-screenshot.ts
  test/screenshot-graphics.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

CIのスクリーンショット実行を存在するnpmスクリプトに修正
  .github/workflows/ci.yml
Due: none

CIのpuppeteer Chrome取得をskip-download+明示installに一本化
  .github/workflows/ci.yml
Due: none

CIのChrome取得をロック版puppeteer自身のインストーラに変更
  .github/workflows/ci.yml
Due: none

screenshot CIにChromeインストール検証ステップを追加
  .github/workflows/ci.yml
Due: none

screenshot CIでランナー同梱のChromeを使用する
  .github/workflows/ci.yml
Due: none

撮影前にWebフォント読込完了を待機する
  test/screenshot-graphics.ts
Due: tslint -p . -t stylish --fix, prettier --write

screenshot CIに日本語フォントを導入しdashboardの豆腐を解消
  .github/workflows/ci.yml
Due: none

スクリーンショットテスト基盤を追加 (#796)
  .github/workflows/ci.yml
  .gitignore
  package.json
  test/fixtures/sample-data.ts
  test/run-screenshot.ts
  test/screenshot-graphics.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fake-tracker-socket: ws の型更新に追従
  src/extension/debug/fake-tracker-socket.ts
Due: tslint -p . -t stylish --fix, prettier --write

package-lock: ws 8.21.0 に整合（再生成版を反映）
  package-lock.json
Due: prettier --write

fix: prettier フォーマットと TS strict 型エラーを修正
  src/browser/dashboard/views/wing-audio.tsx
  src/browser/graphics/components/nameplate/index.tsx
  src/extension/wing.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: WING のチャンネル音量で nameplate を発光させる
  package.json
  schemas/audio-active.json
  schemas/audio-assignment.json
  schemas/audio-config.json
  schemas/audio-decks.json
  schemas/audio-meters.json
  schemas/audio-status.json
  src/browser/dashboard/views/wing-audio.tsx
  src/browser/graphics/components/lib/hooks.ts
  src/browser/graphics/components/nameplate/index.tsx
  src/extension/index.ts
  src/extension/wing.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

test: dashboard と graphics を網羅したスクリーンショット回帰テストを追加
  test/run-screenshot.sh
Due: none

fix(nameplate): glow を実際の枠 (pill) にだけ適用
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/nameplate/ui/common.tsx
  src/browser/graphics/components/nameplate/ui/single-row.tsx
  src/browser/graphics/components/nameplate/ui/two-row.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat(audio): runners/commentators で発光対象を分離、アイコンのみ発光させる
  schemas/audio-active.json
  schemas/audio-assignment.json
  schemas/audio-decks.json
  src/browser/dashboard/views/wing-audio.tsx
  src/browser/graphics/components/lib/hooks.ts
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/nameplate/ui/single-row.tsx
  src/browser/graphics/components/nameplate/ui/two-row.tsx
  src/extension/wing.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore: 旧 test/run-screenshot.sh を削除
  test/run-screenshot.sh
Due: none

WING audio: 実機検証済みプロトコルに合わせて全面改修
  schemas/audio-active.json
  schemas/audio-assignment.json
  schemas/audio-config.json
  schemas/audio-decks.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/views/wing-audio.tsx
  src/browser/graphics/components/lib/hooks.ts
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/nameplate/ui/common.tsx
  src/browser/graphics/components/nameplate/ui/single-row.tsx
  src/browser/graphics/components/nameplate/ui/two-row.tsx
  src/extension/schedule.ts
  src/extension/wing.ts
Due: tslint -p . -t stylish --fix, prettier --write

編集モーダルのオーディオUI調整
  src/browser/dashboard/components/schedule/edit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

編集モーダル: オーディオ ch 入力を各人の行に統合
  src/browser/dashboard/components/schedule/edit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

編集モーダル: 走者/解説の列を揃え、解説の操作性を改善
  src/browser/dashboard/components/schedule/edit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

編集モーダル: 解説欄を制御コンポーネント化し入れ替え不具合を修正
  src/browser/dashboard/components/schedule/edit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

編集モーダル: 並べ替えボタンをオーディオ列の左へ移動
  src/browser/dashboard/components/schedule/edit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

編集モーダル: 各人の行を色分け Paper で囲み、卓選択をマイクch列に整列
  src/browser/dashboard/components/schedule/edit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

編集モーダル: Paper の枠色をパステル寄りの淡い色に変更
  src/browser/dashboard/components/schedule/edit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

編集モーダル: 卓セレクターのcaption整理
  src/browser/dashboard/components/schedule/edit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

audio schema を 6→4 に整理
  schemas/audio-config.json
  schemas/audio-decks.json
  schemas/audio-meters.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/views/wing-audio.tsx
  src/extension/wing.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write
