Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

feat: add display tweet on game layout
  src/browser/graphics/components/sponsor/index.tsx
  src/browser/graphics/views/game-scene/templates/L420.tsx
  src/browser/graphics/views/game-scene/templates/vertical-gameinfo.tsx
Due: tslint -p . -t stylish --fix, prettier --write

gitignore 対象でバージョン管理されてしまっているものを削除 (#633)
  src/nodecg/generated/checklist.d.ts
  src/nodecg/generated/configschema.d.ts
  src/nodecg/generated/current-run.d.ts
  src/nodecg/generated/index.d.ts
  src/nodecg/generated/next-run.d.ts
  src/nodecg/generated/obs-crop-inputs.d.ts
  src/nodecg/generated/obs-remote-inputs.d.ts
  src/nodecg/generated/obs.d.ts
  src/nodecg/generated/schedule.d.ts
  src/nodecg/generated/spotify.d.ts
  src/nodecg/generated/spreadsheet.d.ts
  src/nodecg/generated/timer.d.ts
  src/nodecg/generated/tweets.d.ts
  src/nodecg/generated/twitch.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore: remove renovate
  .github/renovate.json
Due: prettier --write

feat: remove twitter
  package-lock.json
  package.json
  src/browser/graphics/components/lib/text.ts
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/sponsor/index.tsx
  src/browser/graphics/views/game-scene/templates/vertical-gameinfo.tsx
  src/extension/debug/tweet.ts
  src/extension/index.ts
  src/extension/twitter.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

Remove husky
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

バックアップの run を schedule に追加しないようにする
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

バックアップの run を schedule に追加しないようにする (#658)
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

trackerと解説の紐づけにpkを使うようにした
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

trackerと解説の紐づけにpkを使うようにした (#657)
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

チェックリストの項目をconfigから拾う用修正
  configschema.json
  src/extension/checklist.ts
  src/extension/default/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write

入力内容を項目名のみに変更
  configschema.json
  src/extension/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write

チェックリストの項目をconfigから拾うように修正 (#659)
  configschema.json
  src/extension/checklist.ts
  src/extension/default/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write

クレジットの内容をダッシュボードから確認できるようにする
  src/browser/dashboard/views/credit-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write

名前をソートするよう修正
  src/browser/dashboard/views/credit-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write

カウントダウン作動中の時間変更を無効化、時間表示を24時間表記に修正
  src/browser/dashboard/views/countdown.tsx
Due: tslint -p . -t stylish --fix, prettier --write

カウントダウン作動中の時間変更を無効化、時間表示を24時間表記に修正 (#661)
  src/browser/dashboard/views/countdown.tsx
Due: tslint -p . -t stylish --fix, prettier --write

ex2仕様にレイアウト修正
  src/browser/graphics/components/event-logo.tsx
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/images/background.png
  src/browser/graphics/images/header_rij.png
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/speech_nameplate.png
  src/browser/graphics/images/speech_nameplate.svg
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/credit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

クレジットの内容をダッシュボードから確認できるようにする (#660)
  src/browser/dashboard/views/credit-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write

ex2仕様にレイアウト修正 (#662)
  src/browser/graphics/components/event-logo.tsx
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/images/background.png
  src/browser/graphics/images/header_rij.png
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/speech_nameplate.png
  src/browser/graphics/images/speech_nameplate.svg
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/credit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore: renovate
  .github/renovate.json
Due: prettier --write

重複したチェックリストを弾く用に修正
  src/extension/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write

重複したチェックリストを弾く用に修正 (#667)
  src/extension/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write

ゲームタイトル、カテゴリの改行コード対応
  src/browser/graphics/components/game-info/horizontal.tsx
  src/browser/graphics/components/lib/fit-text.tsx
  src/browser/graphics/components/lib/util.tsx
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore: fix package.json scripts
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

多分このほうが型とか構造的にいい感じだと思った。
  src/browser/graphics/components/lib/util.tsx
Due: tslint -p . -t stylish --fix, prettier --write

ゲームタイトル、カテゴリの改行コード対応 (#668)
  src/browser/graphics/components/game-info/horizontal.tsx
  src/browser/graphics/components/lib/fit-text.tsx
  src/browser/graphics/components/lib/util.tsx
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Spotifyの楽曲切り替えアニメーション実装
  src/browser/graphics/components/music.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Spotify内文字数が少ない際のCSS適用
  src/browser/graphics/components/music.tsx
Due: tslint -p . -t stylish --fix, prettier --write

timelineの生成を適切な方法に修正
  src/browser/graphics/components/music.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Spotifyの楽曲切り替えアニメーション実装 (#672)
  src/browser/graphics/components/music.tsx
Due: tslint -p . -t stylish --fix, prettier --write

breakの楽曲ライセンス情報をconfig化
  configschema.json
  src/browser/graphics/components/music.tsx
Due: tslint -p . -t stylish --fix, prettier --write

breakの楽曲ライセンス情報をconfig化 (#671)
  configschema.json
  src/browser/graphics/components/music.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Add Docker
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  docker-compose.yml
Due: none

Add Docker (#673)
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  docker-compose.yml
Due: none

Add Docker build to CI
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  package.json
Due: prettier --write, sort-package-json

run simultaneously
  .github/workflows/ci.yml
Due: none

Add Docker build to CI (#674)
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  package.json
Due: prettier --write, sort-package-json

style: apply prettier
  src/browser/dashboard/components/schedule/edit.tsx
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: Control announcements from dashboard
  package.json
  schemas/announcements.json
  src/browser/dashboard/components/announcements/announcement-add.tsx
  src/browser/dashboard/components/announcements/announcement-item.tsx
  src/browser/dashboard/components/announcements/index.tsx
  src/browser/dashboard/views/announcements.tsx
  src/browser/graphics/views/omnibar.tsx
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

lint: fix format
  schemas/announcements.json
  src/browser/dashboard/components/announcements/announcement-add.tsx
  src/browser/dashboard/components/announcements/announcement-item.tsx
  src/browser/dashboard/components/announcements/index.tsx
  src/browser/dashboard/views/announcements.tsx
  src/browser/graphics/views/omnibar.tsx
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write
