Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @hoishin/prettierrc to v2.2.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

カメラオンオフ設定を追加
  schemas/lib/participant.json
  schemas/lib/run.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/extension/schedule-import/oengus.ts
  src/nodecg/generated/current-run.d.ts
  src/nodecg/generated/next-run.d.ts
  src/nodecg/generated/schedule.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore: setup semantic-release
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: add camera toggles (#497)
  schemas/lib/participant.json
  schemas/lib/run.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/extension/schedule-import/oengus.ts
  src/nodecg/generated/current-run.d.ts
  src/nodecg/generated/next-run.d.ts
  src/nodecg/generated/schedule.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore(deps): pin dependency semantic-release to 17.3.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  4e37595783353f2ac9014b303711af07b483f370
Due: none

fix: ci and release flow
  .github/workflows/ci.yml
Due: none

chore: fix CI syntax
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  00b73e73a2c4602878190d4ecd99062d6446068c
Due: none

fix: release flow
  .github/workflows/ci.yml
  Dockerfile
Due: none

fix(actions): use TYPEKIT_ID for yarn prod
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  90e2da4d2332d705d8907e0b6e1b522d0479fee1
Due: none

fix: ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  7fbd02da5e315b6e2292d04565c6e70751312676
Due: none

fix: combine again
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): remote semantic-release from dependency
  .github/workflows/ci.yml
  package.json
Due: prettier --write, sort-package-json

fix(ci): change flow
  .github/workflows/ci.yml
Due: none

fix(ci): split docker image job
  .github/workflows/ci.yml
  .github/workflows/docker-image.yml
Due: none

Notes added by 'git notes add'
  b7da953cbfa1e1323af7e28b16078dfeee64300f
Due: none

fix(ci): docker image job
  .github/workflows/docker-image.yml
Due: none

Notes added by 'git notes add'
  48fcf1d55890ec88359d9ceeaf59bfff41297db1
Due: none

fix(ci): use different token for semantic-release
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  bbddff60ba8388398c9b54820bd9579269888178
Due: none

fix(ci): combine jobs
  .github/workflows/ci.yml
  .github/workflows/docker-image.yml
Due: none

ci: cache yarn
  .github/workflows/ci.yml
Due: none

build: dockerignore more files
  .dockerignore
Due: none

ci(docker): set cache
  .github/workflows/ci.yml
Due: none

ci: ensure cache dir exists
  .github/workflows/ci.yml
Due: none

ci: fix typo
  .github/workflows/ci.yml
Due: none

ci: fix cache config
  .github/workflows/ci.yml
Due: none

ci: push to dockerhub
  .github/workflows/ci.yml
Due: none

ci: asynchronous windows test
  .github/workflows/ci.yml
Due: none

ci: more matrix
  .github/workflows/ci.yml
Due: none

ci: fix syntax
  .github/workflows/ci.yml
Due: none

ci: more cache
  .github/workflows/ci.yml
Due: none

ci: reduce matrix
  .github/workflows/ci.yml
Due: none

Modify prettier config
  .dependency-cruiser.json
  .editorconfig
  .github/workflows/ci.yml
  .prettierrc.js
  README.md
  package.json
  src/browser/dashboard/components/checklist/index.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/components/timekeeper/runner.tsx
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/graphics/components/lib/nameplate/index.tsx
  src/browser/graphics/components/lib/tweet.tsx
  src/browser/graphics/components/upcoming-run.tsx
  src/browser/graphics/images/background.ts
  src/browser/graphics/views/break-2.tsx
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/sd3.tsx
  src/extension/checklist.ts
  src/extension/schedule-import/google-spreadsheet.ts
  src/extension/schedule-import/oengus.ts
  src/extension/schedule.ts
  src/extension/spotify.ts
  src/extension/timekeeping.ts
  src/extension/twitch.ts
  src/extension/twitter.ts
  webpack.config.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

implements crop specific sources and scene items
  configschema.json
  package.json
  schemas/lib/obs-scene-item.json
  schemas/lib/obs-scene.json
  schemas/obs-crop-inputs.json
  schemas/obs.json
  src/browser/dashboard/components/obs/connect.tsx
  src/browser/dashboard/components/obs/crop-switch.tsx
  src/browser/dashboard/views/obs-connect.tsx
  src/browser/dashboard/views/obs-video-sources.tsx
  src/extension/index.ts
  src/extension/obs-types/filter.d.ts
  src/extension/obs-types/sceneItem.d.ts
  src/extension/obs.ts
  src/nodecg/generated/configschema.d.ts
  src/nodecg/generated/obs-crop-inputs.d.ts
  src/nodecg/generated/obs.d.ts
  src/nodecg/messages.ts
  src/nodecg/replicants.ts
  yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

implements update browser setting
  configschema.json
  package.json
  schemas/obs-remote-inputs.json
  src/browser/dashboard/components/obs/remote-edit.tsx
  src/browser/dashboard/views/obs-remote-view.tsx
  src/extension/obs.ts
  src/nodecg/generated/configschema.d.ts
  src/nodecg/generated/obs-remote-inputs.d.ts
  src/nodecg/messages.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json
