Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

format codes
  src/browser/dashboard/components/obs/remote-edit.tsx
  src/browser/dashboard/views/obs-video-sources.tsx
  src/extension/obs.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore(ts): fix type errors
  src/browser/tsconfig.json
  src/extension/schedule-import/google-spreadsheet.ts
  src/extension/schedule-import/oengus.ts
  src/extension/spotify.ts
  src/extension/timekeeping.ts
  src/extension/twitch.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: OBS interaction (#499)
  configschema.json
  package.json
  schemas/lib/obs-scene-item.json
  schemas/lib/obs-scene.json
  schemas/obs-crop-inputs.json
  schemas/obs-remote-inputs.json
  schemas/obs.json
  src/browser/dashboard/components/obs/connect.tsx
  src/browser/dashboard/components/obs/crop-switch.tsx
  src/browser/dashboard/components/obs/remote-edit.tsx
  src/browser/dashboard/views/obs-connect.tsx
  src/browser/dashboard/views/obs-remote-view.tsx
  src/browser/dashboard/views/obs-video-sources.tsx
  src/browser/tsconfig.json
  src/extension/index.ts
  src/extension/obs-types/filter.d.ts
  src/extension/obs-types/sceneItem.d.ts
  src/extension/obs.ts
  src/extension/schedule-import/google-spreadsheet.ts
  src/extension/schedule-import/oengus.ts
  src/extension/spotify.ts
  src/extension/timekeeping.ts
  src/extension/twitch.ts
  src/nodecg/generated/configschema.d.ts
  src/nodecg/generated/obs-crop-inputs.d.ts
  src/nodecg/generated/obs-remote-inputs.d.ts
  src/nodecg/generated/obs.d.ts
  src/nodecg/messages.ts
  src/nodecg/replicants.ts
  yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix: remove VOLUME in dockerfile
  Dockerfile
Due: none

chore(deps): update dependency @types/node to v14.14.16
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(docker): use VOLUME for db
  Dockerfile
Due: none

chore(deps): update dependency webpack-merge to v5.7.3
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: add additionalProperties to missing places
  package.json
  schemas/lib/obs-scene-item.json
  schemas/obs.json
  src/nodecg/generated/index.d.ts
  src/nodecg/generated/obs.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

Revert "fix: add additionalProperties to missing places"
  package.json
  schemas/lib/obs-scene-item.json
  schemas/obs.json
  src/nodecg/generated/index.d.ts
  src/nodecg/generated/obs.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore: log obs connection
  src/extension/obs.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore: log entire error
  src/extension/obs.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix(obs): connection config have to address, not host/port
  src/extension/obs.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore: add generated index.d.ts from schema
  src/nodecg/generated/index.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore: add schema-types watch command
  package.json
  webpack.config.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix: use json schema default over replicant defaultValue
  schemas/checklist.json
  schemas/obs-crop-inputs.json
  schemas/obs-remote-inputs.json
  schemas/obs.json
  schemas/schedule.json
  schemas/spotify.json
  schemas/spreadsheet.json
  schemas/tweets.json
  schemas/twitch.json
  src/extension/checklist.ts
  src/extension/obs.ts
  src/extension/schedule-import/google-spreadsheet.ts
  src/extension/schedule-import/oengus.ts
  src/extension/schedule.ts
  src/extension/spotify.ts
  src/extension/timekeeping.ts
  src/extension/twitch.ts
  src/extension/twitter.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore: don't flush schema types when editing schema
  package.json
Due: prettier --write, sort-package-json

fix(obs): use 4444 if port is empty
  src/extension/obs.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix(graphics): put prefix to all graphics
  package.json
  src/browser/graphics/views/break-frame.tsx
  src/browser/graphics/views/break-list.tsx
  src/browser/graphics/views/game-3ds1.tsx
  src/browser/graphics/views/game-ds1-flat.tsx
  src/browser/graphics/views/game-ds1.tsx
  src/browser/graphics/views/game-gb1.tsx
  src/browser/graphics/views/game-gba1.tsx
  src/browser/graphics/views/game-gba2.tsx
  src/browser/graphics/views/game-hd1.tsx
  src/browser/graphics/views/game-hd2.tsx
  src/browser/graphics/views/game-hd3.tsx
  src/browser/graphics/views/game-qwop.tsx
  src/browser/graphics/views/game-sd1.tsx
  src/browser/graphics/views/game-sd2.tsx
  src/browser/graphics/views/game-sd3.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix: root html ids
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/obs-connect.tsx
  src/browser/dashboard/views/obs-remote-view.tsx
  src/browser/dashboard/views/obs-video-sources.tsx
  src/browser/dashboard/views/spotify-auth.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/graphics/views/break-frame.tsx
  src/browser/graphics/views/break-list.tsx
  src/browser/graphics/views/game-3ds1.tsx
  src/browser/graphics/views/game-ds1-flat.tsx
  src/browser/graphics/views/game-ds1.tsx
  src/browser/graphics/views/game-gb1.tsx
  src/browser/graphics/views/game-gba1.tsx
  src/browser/graphics/views/game-gba2.tsx
  src/browser/graphics/views/game-hd1.tsx
  src/browser/graphics/views/game-hd2.tsx
  src/browser/graphics/views/game-hd3.tsx
  src/browser/graphics/views/game-qwop.tsx
  src/browser/graphics/views/game-sd1.tsx
  src/browser/graphics/views/game-sd2.tsx
  src/browser/graphics/views/game-sd3.tsx
  src/extension/obs.ts
  webpack.config.ts
  webpack/dashboard.html
  webpack/graphics.html
Due: tslint -p . -t stylish --fix, prettier --write

refactor: ReactDom -> ReactDOM
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/obs-connect.tsx
  src/browser/dashboard/views/obs-remote-view.tsx
  src/browser/dashboard/views/obs-video-sources.tsx
  src/browser/dashboard/views/spotify-auth.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/graphics/views/break-list.tsx
  src/browser/graphics/views/game-3ds1.tsx
  src/browser/graphics/views/game-ds1-flat.tsx
  src/browser/graphics/views/game-ds1.tsx
  src/browser/graphics/views/game-gb1.tsx
  src/browser/graphics/views/game-gba1.tsx
  src/browser/graphics/views/game-gba2.tsx
  src/browser/graphics/views/game-hd1.tsx
  src/browser/graphics/views/game-hd2.tsx
  src/browser/graphics/views/game-hd3.tsx
  src/browser/graphics/views/game-qwop.tsx
  src/browser/graphics/views/game-sd1.tsx
  src/browser/graphics/views/game-sd2.tsx
  src/browser/graphics/views/game-sd3.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: css URL
  src/browser/graphics/components/rtaij-overlay.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: optimze layout of run edit modal
  src/browser/dashboard/components/schedule/edit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: update checklist
  src/extension/default/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write

style: css property name
  src/browser/dashboard/views/obs-video-sources.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: updates for winter
  package.json
  scripts/clip-path-calculator.ts
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/graphics/components/camera-placeholder.tsx
  src/browser/graphics/components/lib/styled.tsx
  src/browser/graphics/components/rtaij-overlay.tsx
  src/browser/graphics/images/background-brown.png
  src/browser/graphics/images/icon/no-camera.png
  src/browser/graphics/views/break-list.tsx
  src/browser/graphics/views/game-hd3-camera3.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: more updates
  configschema.json
  src/browser/graphics/clip-path-calculator.ts
  src/browser/graphics/components/rtaij-overlay.tsx
  src/browser/graphics/views/game-hd3-camera3.tsx
  src/nodecg/generated/configschema.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix: older chrome
  package.json
  src/browser/tsconfig.json
Due: prettier --write, sort-package-json

fix: update correct title
  src/extension/twitch.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: toggle SD2 camera
  src/browser/graphics/views/game-sd1.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: camera toggle for HD1
  src/browser/graphics/views/game-hd1.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: SD4
  package.json
  src/browser/graphics/views/game-sd4-camera4.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: sd2 camera
  src/browser/graphics/views/game-sd2.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: update english titles
  src/extension/schedule-import/english-titles.json
Due: prettier --write

fix: logo rotation
  package.json
  src/browser/graphics/components/rtaij-overlay.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore(deps): update dependency downshift to v6.0.10
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

refactor: make runner.tsx function component
  src/browser/dashboard/components/timekeeper/runner.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: don't use Math.random for react key
  src/browser/dashboard/components/schedule/run-info.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: camera toggle for most graphics
  src/browser/graphics/clip-path-calculator.ts
  src/browser/graphics/components/lib/styled.tsx
  src/browser/graphics/views/break-frame.tsx
  src/browser/graphics/views/break-list.tsx
  src/browser/graphics/views/game-3ds1.tsx
  src/browser/graphics/views/game-ds1-flat.tsx
  src/browser/graphics/views/game-ds1.tsx
  src/browser/graphics/views/game-gb1.tsx
  src/browser/graphics/views/game-gba1.tsx
  src/browser/graphics/views/game-gba2.tsx
  src/browser/graphics/views/game-hd1.tsx
  src/browser/graphics/views/game-hd2.tsx
  src/browser/graphics/views/game-hd3-camera3.tsx
  src/browser/graphics/views/game-hd3.tsx
  src/browser/graphics/views/game-qwop.tsx
  src/browser/graphics/views/game-sd1.tsx
  src/browser/graphics/views/game-sd2.tsx
  src/browser/graphics/views/game-sd3.tsx
  src/browser/graphics/views/game-sd4-camera4.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: run-info crash
  src/browser/dashboard/components/schedule/run-info.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat(graphic): add 3DS x2
  package.json
  src/browser/graphics/views/game-3ds2.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json
