Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

implement spotify song fetching
  rtainjapan-layouts/package.json
  rtainjapan-layouts/spotify-callback/index.html
  rtainjapan-layouts/src/bundle-config/index.ts
  rtainjapan-layouts/src/dashboard/views/spotify-auth.tsx
  rtainjapan-layouts/src/dashboard/views/tech.tsx
  rtainjapan-layouts/src/extension/index.ts
  rtainjapan-layouts/src/extension/spotify.ts
  rtainjapan-layouts/src/replicants/index.ts
  tslint.json
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

show song name
  rtainjapan-layouts/src/graphics/components/lib/styled.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-overlay.tsx
  rtainjapan-layouts/src/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore(CI): fix travis ssh
  .travis.yml
  travis/staging-deploy
Due: none

chore(CI): fix deploy script
  travis/staging-deploy
Due: none

feat(break): spotify music name
  rtainjapan-layouts/package.json
  rtainjapan-layouts/spotify-callback/index.html
  rtainjapan-layouts/src/bundle-config/index.ts
  rtainjapan-layouts/src/dashboard/views/spotify-auth.tsx
  rtainjapan-layouts/src/dashboard/views/tech.tsx
  rtainjapan-layouts/src/extension/index.ts
  rtainjapan-layouts/src/extension/spotify.ts
  rtainjapan-layouts/src/graphics/components/lib/styled.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-overlay.tsx
  rtainjapan-layouts/src/graphics/views/break.tsx
  rtainjapan-layouts/src/replicants/index.ts
  tslint.json
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

don't use fonts for dashboard
  rtainjapan-layouts/src/dashboard/views/tech.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix(dashboard): remove typography font
  rtainjapan-layouts/src/dashboard/views/tech.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix(mount): include spotify callback page in docker image
  .dockerignore
  Dockerfile
Due: none

handle schema error in modifyRun
  rtainjapan-layouts/src/extension/schedule.ts
Due: tslint -p . -t stylish --fix, prettier --write

expose sponser visibility to props and hide it by default
  rtainjapan-layouts/src/graphics/components/rtaij-overlay.tsx
Due: tslint -p . -t stylish --fix, prettier --write

disable deploy from travis
  .travis.yml
Due: none

Revert "disable deploy from travis"
  .travis.yml
Due: none

fix(docker): fix copy mistake
  Dockerfile
Due: none

new data
  rtainjapan-layouts/src/extension/default/games.ts
  rtainjapan-layouts/src/extension/default/runners.ts
  rtainjapan-layouts/src/extension/schedule.ts
  rtainjapan-layouts/src/graphics/views/break.tsx
  rtainjapan-layouts/src/replicants/index.ts
  rtainjapan-layouts/src/replicants/lib.ts
Due: tslint -p . -t stylish --fix, prettier --write

tmp fix error
  rtainjapan-layouts/src/extension/schedule.ts
Due: tslint -p . -t stylish --fix, prettier --write

fml
  rtainjapan-layouts/src/dashboard/views/spotify-auth.tsx
Due: tslint -p . -t stylish --fix, prettier --write

use spreadsheet
  rtainjapan-layouts/package.json
  rtainjapan-layouts/src/bundle-config/index.ts
  rtainjapan-layouts/src/dashboard/components/schedule/edit.tsx
  rtainjapan-layouts/src/dashboard/views/tech.tsx
  rtainjapan-layouts/src/extension/default/games.ts
  rtainjapan-layouts/src/extension/default/runners.ts
  rtainjapan-layouts/src/extension/schedule.ts
  rtainjapan-layouts/src/extension/spotify.ts
  rtainjapan-layouts/src/extension/util/spreadsheet.ts
  rtainjapan-layouts/src/graphics/components/lib/nameplate/index.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-commentator.tsx
  rtainjapan-layouts/src/replicants/index.ts
  rtainjapan-layouts/src/replicants/lib.ts
  rtainjapan-layouts/yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

remove twitch config
  rtainjapan-layouts/src/bundle-config/index.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat(spreadsheet): fetch schedule from spreadsheet
  rtainjapan-layouts/package.json
  rtainjapan-layouts/src/bundle-config/index.ts
  rtainjapan-layouts/src/dashboard/components/schedule/edit.tsx
  rtainjapan-layouts/src/dashboard/views/tech.tsx
  rtainjapan-layouts/src/extension/default/games.ts
  rtainjapan-layouts/src/extension/default/runners.ts
  rtainjapan-layouts/src/extension/schedule.ts
  rtainjapan-layouts/src/extension/spotify.ts
  rtainjapan-layouts/src/extension/util/spreadsheet.ts
  rtainjapan-layouts/src/graphics/components/lib/nameplate/index.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-commentator.tsx
  rtainjapan-layouts/src/replicants/index.ts
  rtainjapan-layouts/src/replicants/lib.ts
  rtainjapan-layouts/yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore(dashboard): remove font loading in dashboard template
  rtainjapan-layouts/webpack/dashboard.html
Due: prettier --write

chore(scripts): optimize scripts
  Dockerfile
  package.json
  rtainjapan-layouts/package.json
  rtainjapan-layouts/yarn.lock
Due: prettier --write, sort-package-json

modify misc UI
  rtainjapan-layouts/src/dashboard/views/spotify-auth.tsx
  rtainjapan-layouts/src/dashboard/views/twitter-account.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix(extension): clear zombie twitter rep
  rtainjapan-layouts/src/extension/twitter.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore(scripts): fix infinite lifecycle loop
  package.json
Due: prettier --write, sort-package-json

chore(extension): remove console.log in spotify
  rtainjapan-layouts/src/extension/spotify.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore(extension): remove console.log
  rtainjapan-layouts/src/extension/spotify.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat(extension): handle twitter rate limit better
  rtainjapan-layouts/src/extension/twitter.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat(dashboard): quick runner editor
  rtainjapan-layouts/package.json
  rtainjapan-layouts/src/dashboard/views/current-runners.tsx
  rtainjapan-layouts/src/dashboard/views/edit-tourny.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix(dashboard): expand edit-tourny panel width
  rtainjapan-layouts/package.json
Due: prettier --write, sort-package-json

tweak
  rtainjapan-layouts/src/dashboard/components/twitter/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

minor tweaks
  rtainjapan-layouts/src/dashboard/components/schedule/edit.tsx
  rtainjapan-layouts/src/dashboard/components/twitter/index.tsx
  rtainjapan-layouts/src/graphics/components/upcoming-run.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix(extension): clean up twitter extension
  rtainjapan-layouts/src/extension/twitter.ts
  tslint.json
Due: tslint -p . -t stylish --fix, prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

chore(deps): pin dependencies
  package.json
  rtainjapan-layouts/package.json
  rtainjapan-layouts/yarn.lock
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency webpack-bundle-analyzer to v3.3.2 [security]
  rtainjapan-layouts/yarn.lock
Due: none

fix(deps): update dependency axios to v0.18.1 [security]
  rtainjapan-layouts/yarn.lock
Due: none

fix(deps): update dependency lodash to v4.17.13 [security]
  rtainjapan-layouts/yarn.lock
Due: none

fix(deps): pin dependencies
  rtainjapan-layouts/package.json
  rtainjapan-layouts/yarn.lock
Due: prettier --write, sort-package-json

Path conditions:
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,html}
  sort-package-json: any of: package.json
