Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore(deps): update dependency typescript-json-schema to v0.39.0
  rtainjapan-layouts/package.json
  rtainjapan-layouts/yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v9.2.1
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency webpack to v4.38.0
  rtainjapan-layouts/package.json
  rtainjapan-layouts/yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/mini-css-extract-plugin to v0.8.0
  rtainjapan-layouts/package.json
  rtainjapan-layouts/yarn.lock
Due: prettier --write, sort-package-json

ci: setup circleci
  .circleci/config.yml
  .travis.yml
  travis/docker-deploy
  travis/id_rsa.enc
  travis/staging-deploy
Due: none

chore(deps): update versions in yarn.lock
  yarn.lock
Due: none

chore(deps): use hat for semver
  package.json
  renovate.json
  rtainjapan-layouts/package.json
  rtainjapan-layouts/yarn.lock
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update node.js to ^v10.16.0
  package.json
  rtainjapan-layouts/package.json
Due: prettier --write, sort-package-json

Add babel
  .babelrc
  .editorconfig
  .eslintignore
  .prettierrc.json
  package.json
  tsconfig.json
  webpack.config.ts
  yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

Switch to Apache
  LICENSE
Due: none

Fix CI
  .circleci/config.yml
Due: none

chore(deps): update dependency @material-ui/core to ^4.3.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency husky to ^3.0.2
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency webpack-bundle-analyzer to ^3.4.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency webpack-bundle-analyzer to ^3.4.1
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency write-json-file to ^4.2.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/node to ^10.14.14
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency source-map-support to ^0.5.13
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency googleapis to v42
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/react to ^16.8.24
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency webpack to ^4.39.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update node.js to v10.16.1
  Dockerfile
Due: none

chore(deps): update dependency webpack to ^4.39.1
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @material-ui/core to ^4.3.1
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix yarn.lock
  yarn.lock
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency css-loader to ^3.2.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency nodecg-cli to ^6.1.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency style-loader to v1
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/node to ^10.14.15
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency file-loader to ^4.2.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Update packages
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

refactor: remove dockerfile
  Dockerfile
Due: none

tweak webpack and npm scripts
  package.json
  webpack.config.ts
  yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix spreadsheet imports
  configschema.json
  package.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/graphics/components/lib/nameplate/index.tsx
  src/extension/checklist.ts
  src/extension/schedule.ts
  src/extension/timekeeping.ts
  src/extension/twitter.ts
  src/extension/util/spreadsheet.ts
  src/nodecg/generated/configschema.d.ts
  src/nodecg/replicants.ts
  webpack.config.ts
  yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore(deps): update node.js to v10.16.2
  Dockerfile
Due: none

fix(deps): update dependency include-nodecg to ^0.0.1-6
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Path conditions:
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,html}
  sort-package-json: any of: package.json
