Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

chore(deps): update dependency webpack-cli to v4.8.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(renoate): group all nonmajor
  .github/renovate.json
Due: prettier --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): pin dependency eslint-plugin-react-hooks to 4.2.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): pin dependency lodash-es to 4.17.21
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/mini-css-extract-plugin to v2
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/webpack-bundle-analyzer to v4
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency delay to v5
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency got to v11
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency nodecg-cli to v8
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency googleapis to v85
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency googleapis to v86
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency googleapis to v87
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency googleapis to v88
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency googleapis to v89
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: use tracker
  configschema.json
  package-lock.json
  package.json
  schemas/lib/run.json
  schemas/timer.json
  src/browser/dashboard/components/timekeeper/runner.tsx
  src/extension/sample-json/tracker/event.json
  src/extension/sample-json/tracker/run.json
  src/extension/sample-json/tracker/runner.json
  src/extension/sample-json/twitter/raw-tweet-media.json
  src/extension/sample-json/twitter/raw-tweet-rt.json
  src/extension/sample-json/twitter/raw-tweet.json
  src/extension/schedule-import/english-titles.json
  src/extension/schedule-import/google-spreadsheet.ts
  src/extension/schedule-import/oengus-sample-schedule.json
  src/extension/schedule-import/oengus-sample-submissions.json
  src/extension/schedule-import/oengus.ts
  src/extension/schedule.ts
  src/extension/spotify.ts
  src/extension/timekeeping.ts
  src/extension/tracker.ts
  src/extension/twitch.ts
  src/extension/twitter.ts
  src/nodecg/generated/configschema.d.ts
  src/nodecg/generated/current-run.d.ts
  src/nodecg/generated/index.d.ts
  src/nodecg/generated/next-run.d.ts
  src/nodecg/generated/obs-remote-inputs.d.ts
  src/nodecg/generated/obs.d.ts
  src/nodecg/generated/schedule.d.ts
  src/nodecg/generated/spreadsheet.d.ts
  src/nodecg/generated/timer.d.ts
  yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: camera & countdown layouts
  package-lock.json
  package.json
  schemas/camera-name.json
  schemas/camera-state.json
  schemas/countdown.json
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/countdown.tsx
  src/browser/graphics/components/lib/blur-swipe.ts
  src/browser/graphics/components/lib/divider.tsx
  src/browser/graphics/components/music.tsx
  src/browser/graphics/components/rounded-hole-image.tsx
  src/browser/graphics/components/sponsor/index.tsx
  src/browser/graphics/images/background.png
  src/browser/graphics/images/countdown_rchan.webm
  src/browser/graphics/images/speech_nameplate.png
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/countdown.tsx
  src/browser/tsconfig.json
  src/extension/index.ts
  src/nodecg/generated/index.d.ts
  src/nodecg/messages.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: setup for better omnibar
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: layout bug fixes
  deploy.sh
  schemas/timer.json
  src/browser/graphics/images/footer_stopwatch.svg
  src/browser/graphics/images/speech_nameplate.svg
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/game-scene/background.tsx
  src/browser/graphics/views/game-scene/templates/H260.tsx
  src/browser/graphics/views/game-scene/templates/H300.tsx
  src/browser/graphics/views/game-scene/templates/L420.tsx
  src/browser/graphics/views/game-scene/templates/L480.tsx
  src/browser/graphics/views/game-scene/templates/V480.tsx
  src/browser/graphics/views/game-scene/templates/background/background-H260.png
  src/browser/graphics/views/game-scene/templates/background/background-H300.png
  src/browser/graphics/views/game-scene/templates/background/background-L420.png
  src/browser/graphics/views/game-scene/templates/background/background-L480-race.png
  src/browser/graphics/views/game-scene/templates/background/background-L480.png
  src/browser/graphics/views/game-scene/templates/background/background-V480.png
  src/browser/graphics/views/game-scene/templates/background/background.png
  src/extension/twitch.ts
  src/nodecg/generated/timer.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: omnibar bidwar display
  schemas/bid-war.json
  src/browser/graphics/images/footer_arrow.svg
  src/browser/graphics/images/footer_bid1.svg
  src/browser/graphics/images/footer_bid2.svg
  src/browser/graphics/images/footer_bid3.svg
  src/browser/graphics/images/footer_bid4.svg
  src/browser/graphics/images/footer_line.svg
  src/browser/graphics/images/footer_reader.svg
  src/browser/graphics/images/footer_stopwatch.png
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/icon/icon_commentary.svg
  src/browser/graphics/images/icon/icon_commentary_lit.svg
  src/browser/graphics/images/icon/icon_music.svg
  src/browser/graphics/images/icon/icon_runner_lit.svg
  src/browser/graphics/images/icon/icon_youtube.svg
  src/browser/graphics/images/tag_bidwar.svg
  src/browser/graphics/views/omnibar.tsx
  src/extension/sample-json/tracker/bid.json
  src/extension/sample-json/tracker/bidtarget.json
  src/extension/tracker.ts
  src/nodecg/generated/index.d.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore(deps): update dependency husky to v7
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency globby to v12
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency nanoid to 3.1.31 [security]
  package-lock.json
Due: prettier --write

some changes
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/views/game-scene/10x9-10x9-2.tsx
  src/browser/graphics/views/game-scene/lib/clip-path.ts
Due: tslint -p . -t stylish --fix, prettier --write

changes
  schemas/timer.json
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/components/music.tsx
  src/browser/graphics/images/background.png
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/omnibar.tsx
  src/extension/tracker.ts
  src/extension/twitch.ts
Due: tslint -p . -t stylish --fix, prettier --write

music title
  src/browser/graphics/components/music.tsx
Due: tslint -p . -t stylish --fix, prettier --write

update
  src/browser/graphics/views/game-scene/4x3-2-bingo.tsx
Due: tslint -p . -t stylish --fix, prettier --write

update
  src/browser/graphics/components/camera.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: new twitch api
  configschema.json
  package-lock.json
  package.json
  schemas/lib/run.json
  schemas/twitch.json
  src/extension/tracker.ts
  src/extension/twitch.ts
  src/nodecg/generated/configschema.d.ts
  src/nodecg/generated/current-run.d.ts
  src/nodecg/generated/index.d.ts
  src/nodecg/generated/next-run.d.ts
  src/nodecg/generated/schedule.d.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix: run editor
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: 3x2-2 with warning
  package.json
  src/browser/dashboard/views/flash-warning.tsx
  src/browser/graphics/views/game-scene/3x2-2-flash.tsx
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: end credit
  configschema.json
  package.json
  schemas/runners.json
  src/browser/dashboard/views/credit-control.tsx
  src/browser/graphics/components/lib/fit-text.tsx
  src/browser/graphics/views/credit.tsx
  src/extension/tracker.ts
  src/nodecg/generated/configschema.d.ts
  src/nodecg/generated/index.d.ts
  src/nodecg/messages.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix: no debug
  src/browser/graphics/views/credit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore: cant english
  src/browser/graphics/views/credit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: Enable to connect to unsecure tracker host for dev
  configschema.json
  src/extension/tracker.ts
  src/nodecg/generated/configschema.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix: change tracker config property
  configschema.json
  src/extension/tracker.ts
  src/nodecg/generated/configschema.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

refactor: rename local variable
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write
