Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix: omnibar color
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: get donations from tracker
  schemas/donations.json
  src/extension/sample-json/tracker/donation.json
  src/extension/tracker.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: donations dashboard view
  package.json
  src/browser/dashboard/components/donations/donation-item.tsx
  src/browser/dashboard/components/donations/index.tsx
  src/browser/dashboard/views/donations.tsx
  src/extension/sample-json/tracker/donation.json
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: queue showing donation
  package.json
  schemas/donation-queue.json
  schemas/lib/donation.json
  src/browser/dashboard/components/donations/donation-item.tsx
  src/browser/dashboard/components/donations/index.tsx
  src/browser/graphics/views/omnibar.tsx
  src/extension/tracker.ts
  src/nodecg/messages.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: bid challenge
  schemas/bid-challenge.json
  src/browser/graphics/images/footer_arrow1.svg
  src/browser/graphics/views/omnibar.tsx
  src/extension/sample-json/tracker/bid.json
  src/extension/tracker.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix: label for challenge
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

update omnibar transitions
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

filter challenge not set goad
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

#509
  schemas/timer.json
  src/extension/timekeeping.ts
  src/nodecg/generated/timer.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

http / ws で donation tracker に接続できるようにする (#593)
  configschema.json
  src/extension/tracker.ts
  src/nodecg/generated/configschema.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

下部帯レイアウト resolve #599, resolve #607 (#604)
  package.json
  schemas/bid-challenge.json
  schemas/donation-queue.json
  schemas/donations.json
  schemas/lib/donation.json
  src/browser/dashboard/components/donations/donation-item.tsx
  src/browser/dashboard/components/donations/index.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/graphics/images/footer_arrow1.svg
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/omnibar.tsx
  src/extension/sample-json/tracker/bid.json
  src/extension/sample-json/tracker/donation.json
  src/extension/tracker.ts
  src/nodecg/messages.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

走者複数で各タイマーを完走にしたのにマスタータイマーが止まらないことがある問題の修正 (#610)
  schemas/timer.json
  src/extension/timekeeping.ts
  src/nodecg/generated/timer.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

migrate to twitter v2
  configschema.json
  package-lock.json
  package.json
  src/extension/debug/tweet.ts
  src/extension/twitter.ts
  src/nodecg/generated/configschema.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

#600 fix credit layout fonts
  src/browser/graphics/components/lib/fit-text.tsx
  src/browser/graphics/components/lib/text.ts
  src/browser/graphics/views/credit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

onchangeをdevDependenciesに追加
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix font-family
  src/browser/graphics/components/lib/text.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: switch position when onsite, delete shadow for w2022
  configschema.json
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: implements interval video control
  package.json
  schemas/video-control.json
  src/browser/dashboard/views/video-control.tsx
  src/browser/graphics/views/interval-video.tsx
  src/nodecg/messages.ts
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: prevent stopping if configured
  configschema.json
  src/browser/dashboard/components/lib/colored-button.tsx
  src/browser/dashboard/views/video-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: sort interval video in dashboard
  src/browser/dashboard/views/video-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: video control select follows replicant
  src/browser/dashboard/views/video-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: remove unnecessary fragment
  src/browser/graphics/views/interval-video.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: fix excessive nodecg action calls
  src/browser/dashboard/views/video-control.tsx
  src/browser/graphics/views/interval-video.tsx
Due: tslint -p . -t stylish --fix, prettier --write

sync nameplate content
  src/browser/graphics/components/nameplate/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: Remove read replicant on ref changed
  src/browser/graphics/views/interval-video.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: add deleted initialize
  src/browser/graphics/views/interval-video.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Twitch配信タイトルのprefixを修正
  src/extension/twitch.ts
Due: tslint -p . -t stylish --fix, prettier --write

winter 2022 background
  src/browser/graphics/images/background.png
Due: none

winter color
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/styles/colors.ts
Due: tslint -p . -t stylish --fix, prettier --write

always displaying name on race layout
  src/browser/graphics/components/nameplate/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: hide featured donation comment in dashboard
  schemas/lib/donation.json
  src/browser/dashboard/components/donations/index.tsx
  src/browser/graphics/views/omnibar.tsx
  src/extension/tracker.ts
  src/nodecg/messages.ts
Due: tslint -p . -t stylish --fix, prettier --write

resolve #598 - ゲーム中画面レイアウトの修正 (#619)
  src/browser/graphics/components/nameplate/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

onchangeをdevDependenciesに追加 (#615)
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

update
  configschema.json
  package-lock.json
  src/browser/graphics/views/game-scene/16x9-3-alt.tsx
  src/nodecg/generated/configschema.d.ts
  src/nodecg/generated/index.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

delete files generated on build
  src/nodecg/generated/checklist.d.ts
  src/nodecg/generated/configschema.d.ts
  src/nodecg/generated/current-run.d.ts
  src/nodecg/generated/index.d.ts
  src/nodecg/generated/next-run.d.ts
  src/nodecg/generated/obs-crop-inputs.d.ts
  src/nodecg/generated/obs-remote-inputs.d.ts
  src/nodecg/generated/obs.d.ts
  src/nodecg/generated/schedule.d.ts
  src/nodecg/generated/spotify.d.ts
  src/nodecg/generated/spreadsheet.d.ts
  src/nodecg/generated/timer.d.ts
  src/nodecg/generated/tweets.d.ts
  src/nodecg/generated/twitch.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: get event name from tracker
  src/extension/tracker.ts
  src/extension/twitch.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix: skip to update twitch when event name not set
  src/extension/tracker.ts
  src/extension/twitch.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix to limited 1 commentator
  src/browser/graphics/views/game-scene/templates/V480.tsx
Due: tslint -p . -t stylish --fix, prettier --write

setup logo fades only image
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Path conditions:
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,html}
  sort-package-json: any of: package.json
