Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

feat: add DS x2 with cameras
  package.json
  src/browser/graphics/views/game-ds2-camera2.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore: print out twitter stream error
  src/extension/twitter.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore(deps): update dependency webpack to v5.11.1
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency webpack-cli to v4.3.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(obs): use source id for reset crop property
  src/extension/obs.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore: reduce image size
  .github/workflows/ci.yml
  Dockerfile
  src/extension/timekeeping.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore(deps): update dependency @types/lodash to v4.14.167
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.14.19
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency ts-loader to v8.0.13
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(obs): use source id for reset crop property (#511)
  src/extension/obs.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix(deps): pin dependency obs-websocket-js to 4.0.2
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

ci: notify slack after build
  .github/workflows/ci.yml
Due: none

ci: fix syntax
  .github/workflows/ci.yml
Due: none

ci: modify slack notification message
  .github/workflows/ci.yml
Due: none

ci: slack notification only master push
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency html-webpack-plugin to v4.5.2
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency googleapis to v67
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency lodash to v4.17.21 [security]
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.50.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency ts-loader to v8.3.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

ci: update CI
  .github/workflows/ci.yml
Due: none

chore: remove include-nodecg
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/lodash to v4.14.172
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency globby to v11.0.4
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update babel monorepo to v7.15.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @material-ui/core to v4.12.3
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency react-highlight-words to v0.17.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency typescript to v3.9.10
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: update dependencies
  package.json
  src/browser/dashboard/components/lib/colored-button.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/typeahead.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/components/timekeeper/runner.tsx
  src/browser/dashboard/views/obs-video-sources.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/graphics/clip-path-calculator.ts
  src/browser/graphics/components/break-background.tsx
  src/browser/graphics/components/lib/nameplate/index.tsx
  src/browser/graphics/components/rtaij-commentator.tsx
  src/browser/graphics/components/rtaij-runner.tsx
  src/browser/graphics/components/rtaij-timer.tsx
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break-list.tsx
  src/browser/graphics/views/game-3ds2.tsx
  src/browser/graphics/views/game-ds1-flat.tsx
  src/browser/graphics/views/game-ds1.tsx
  src/browser/graphics/views/game-gb1.tsx
  src/browser/graphics/views/game-gba1.tsx
  src/browser/graphics/views/game-gba2.tsx
  src/browser/graphics/views/game-hd1.tsx
  src/browser/graphics/views/game-hd2.tsx
  src/browser/graphics/views/game-hd3.tsx
  src/browser/graphics/views/game-qwop.tsx
  src/browser/graphics/views/game-sd2.tsx
  src/browser/graphics/views/game-sd3.tsx
  src/browser/tsconfig.json
  src/extension/schedule-import/google-spreadsheet.ts
  src/extension/schedule-import/oengus.ts
  src/extension/timekeeping.ts
  src/nodecg/timer.ts
  tsconfig.json
  webpack.config.ts
  yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency delay to v4.4.1
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency downshift to v6.1.7
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency husky to v4.3.8
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency tslib to v2.3.1
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/mini-css-extract-plugin to v1.4.3
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/node to v14.17.10
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency webpack to v5.51.1
  package.json
  yarn.lock
Due: prettier --write, sort-package-json
