Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat(nameplate): better synced social display animation
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/views/game-scene/10x9-1.tsx
  src/browser/graphics/views/game-scene/16x9-1.tsx
  src/browser/graphics/views/game-scene/3ds-1-flat.tsx
  src/browser/graphics/views/game-scene/3ds-1-unflat.tsx
  src/browser/graphics/views/game-scene/3ds-2-flat.tsx
  src/browser/graphics/views/game-scene/3x2-1.tsx
  src/browser/graphics/views/game-scene/3x2-4.tsx
  src/browser/graphics/views/game-scene/4x3-1.tsx
  src/browser/graphics/views/game-scene/ds-1-flat.tsx
  src/browser/graphics/views/game-scene/ds-1-unflat.tsx
  src/browser/graphics/views/game-scene/templates/H260.tsx
  src/browser/graphics/views/game-scene/templates/H300.tsx
  src/browser/graphics/views/game-scene/templates/L420.tsx
  src/browser/graphics/views/game-scene/templates/L480.tsx
  src/browser/graphics/views/game-scene/templates/horizontal-nameplates.tsx
  src/browser/graphics/views/game-scene/templates/vertical-gameinfo.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore: longer hold
  src/browser/graphics/components/nameplate/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: use timelime for static social display
  src/browser/graphics/components/nameplate/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix(gsap): use timeline.revert
  src/browser/graphics/components/music.tsx
  src/browser/graphics/components/sponsor/index.tsx
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore: remove lodash
  package-lock.json
  package.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/graphics/views/credit.tsx
  src/browser/graphics/views/omnibar.tsx
  src/browser/use-replicant.ts
  src/extension/checklist.ts
  src/extension/lib/array.ts
  src/extension/schedule.ts
  src/extension/spotify.ts
  src/extension/tracker.ts
  vite-plugin-nodecg.mts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: Update playing music with API route
  configschema.json
  schemas/playing-music.json
  src/browser/graphics/components/music.tsx
  src/extension/index.ts
  src/extension/music.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

S2023 color
  src/browser/graphics/components/camera.tsx
  src/browser/graphics/components/event-logo.tsx
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/components/lib/divider.tsx
  src/browser/graphics/components/music.tsx
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/sponsor/index.tsx
  src/browser/graphics/images/background.png
  src/browser/graphics/images/footer_arrow.svg
  src/browser/graphics/images/footer_bid1.svg
  src/browser/graphics/images/footer_bid2.svg
  src/browser/graphics/images/footer_bid3.svg
  src/browser/graphics/images/footer_bid4.svg
  src/browser/graphics/images/footer_line.svg
  src/browser/graphics/images/footer_msf.svg
  src/browser/graphics/images/footer_reader.svg
  src/browser/graphics/images/header_rij.png
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/speech_nameplate.svg
  src/browser/graphics/images/trouble.webm
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/credit.tsx
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

エンドロールの背景透明度修正
  src/browser/graphics/styles/colors.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: Update playing music with API route (#725)
  configschema.json
  schemas/playing-music.json
  src/browser/graphics/components/music.tsx
  src/extension/index.ts
  src/extension/music.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

RTA in Japan Summer 2023 レイアウト色変更 (#726)
  src/browser/graphics/components/camera.tsx
  src/browser/graphics/components/event-logo.tsx
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/components/lib/divider.tsx
  src/browser/graphics/components/music.tsx
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/sponsor/index.tsx
  src/browser/graphics/images/background.png
  src/browser/graphics/images/footer_arrow.svg
  src/browser/graphics/images/footer_bid1.svg
  src/browser/graphics/images/footer_bid2.svg
  src/browser/graphics/images/footer_bid3.svg
  src/browser/graphics/images/footer_bid4.svg
  src/browser/graphics/images/footer_line.svg
  src/browser/graphics/images/footer_msf.svg
  src/browser/graphics/images/footer_reader.svg
  src/browser/graphics/images/header_rij.png
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/speech_nameplate.svg
  src/browser/graphics/images/trouble.webm
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/credit.tsx
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix vite build
  vite-plugin-nodecg.mts
Due: none

スポンサー画像のトランジション時に一瞬画像がちらつく不具合を修正
  src/browser/graphics/components/sponsor/index.tsx
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: Omnibar の寄付先画像サイズ
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

スポンサー画像のトランジション時に一瞬画像がちらつく不具合を修正 (#727)
  src/browser/graphics/components/sponsor/index.tsx
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

下部帯寄付額投票バー色を戻す
  src/browser/graphics/styles/colors.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix: Timerkeeper の再描画
  src/browser/dashboard/components/timekeeper/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: Timekeeper の再描画
  src/browser/dashboard/components/timekeeper/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: Add Special Thanks to credit
  configschema.json
  src/browser/dashboard/views/credit-control.tsx
  src/browser/graphics/views/credit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix: Special Thanks ないときに表示しないようにする
  src/browser/graphics/views/credit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

RTA in Japan Winter 2023 画像置き換え
  src/browser/graphics/images/Rchan_count.webm
  src/browser/graphics/images/background.png
  src/browser/graphics/images/chalk_texture.png
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/speech_nameplate.svg
  src/browser/graphics/images/trouble.webm
Due: none

ファイル名修正
  src/browser/graphics/images/Rchan_count.webm
  src/browser/graphics/images/rchan_count.webm
Due: none

RTA in Japan Winter 2023 画像置き換え (#733)
  src/browser/graphics/images/background.png
  src/browser/graphics/images/chalk_texture.png
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/rchan_count.webm
  src/browser/graphics/images/speech_nameplate.svg
  src/browser/graphics/images/trouble.webm
Due: none

RTA in Japan Winter 2023 配色の変更
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

lint修正
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: Add w2023 break graphic
  package.json
  src/browser/graphics/views/setup-idol.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix
  src/browser/graphics/components/lib/fit-text.tsx
  src/browser/graphics/components/lib/text.ts
  src/browser/graphics/views/setup-idol.tsx
Due: tslint -p . -t stylish --fix, prettier --write

待機画面修正を巻き戻し
  src/browser/graphics/views/break.tsx
Due: tslint -p . -t stylish --fix, prettier --write

RTA in Japan Winter 2023 配色の変更 (#734)
  src/browser/graphics/styles/colors.ts
Due: tslint -p . -t stylish --fix, prettier --write

RTA in Japan Winter 2023 のセットアップ画面を追加する (#735)
  package.json
  src/browser/graphics/components/lib/fit-text.tsx
  src/browser/graphics/components/lib/text.ts
  src/browser/graphics/views/setup-idol.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: Add 3x4 solo layout
  src/browser/graphics/views/game-scene/3x4-1.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: Add 3x4 solo layout (#736)
  src/browser/graphics/views/game-scene/3x4-1.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat(dashboard): move runner up & down
  package.json
  schemas/lib/participant.json
  schemas/lib/run.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/graphics/components/lib/hooks.ts
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/views/game-scene/templates/horizontal-nameplates.tsx
  src/browser/graphics/views/game-scene/templates/vertical-gameinfo.tsx
  src/extension/sample-json/tracker/run.json
  src/extension/tracker.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix schema error
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix run index
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

revert some changes
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

revert more changes
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

revert more
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix: Prevent to show null commentator on graphics
  src/browser/graphics/components/lib/hooks.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix: Fix commentator type
  src/browser/dashboard/components/schedule/edit.tsx
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: Layered graphics with params
  src/browser/graphics/views/setup-idol.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Path conditions:
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,html}
  sort-package-json: any of: package.json
