Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

chore(deps): update dependency html-webpack-plugin to v4.5.0
  yarn.lock
Due: none

chore(deps): update dependency husky to v4.3.0
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v10.4.2
  yarn.lock
Due: none

chore(deps): update dependency sort-package-json to v1.46.1
  yarn.lock
Due: none

chore(deps): update dependency style-loader to v1.3.0
  yarn.lock
Due: none

chore(deps): update dependency styled-components to v5.2.0
  yarn.lock
Due: none

chore(deps): update dependency tslib to v1.14.1
  yarn.lock
Due: none

chore(deps): update dependency webpack to v4.44.2
  yarn.lock
Due: none

chore(deps): update react monorepo to v16.14.0
  yarn.lock
Due: none

fix(deps): update dependency nodecg to v1.7.1
  yarn.lock
Due: none

fix(deps): update dependency source-map-support to v0.5.19
  yarn.lock
Due: none

chore(deps): update actions/checkout action to v2
  .github/workflows/nodejs.yml
Due: none

chore(deps): update dependency css-loader to v5
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency mini-css-extract-plugin to v1
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency style-loader to v2
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency webpack to v5
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency webpack-cli to v4
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update react monorepo to v17
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Update from RTA in Japan Online 2020
  configschema.json
  package.json
  schemas/spotify.json
  src/browser/graphics/components/lib/styled.tsx
  src/browser/graphics/components/lib/tweet.tsx
  src/browser/graphics/components/rtaij-overlay.tsx
  src/browser/graphics/components/upcoming-run.tsx
  src/browser/graphics/images/background-blue.png
  src/browser/graphics/images/icon/tweet_blue.png
  src/browser/graphics/views/3ds1.tsx
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/ds1.tsx
  src/browser/graphics/views/gba1.tsx
  src/browser/graphics/views/gba2.tsx
  src/browser/graphics/views/hd1.tsx
  src/browser/graphics/views/hd2.tsx
  src/browser/graphics/views/sd1.tsx
  src/extension/default/checklist.ts
  src/extension/schedule-import/english-titles.json
  src/extension/schedule-import/google-spreadsheet.ts
  src/extension/schedule-import/oengus-sample-schedule.json
  src/extension/schedule-import/oengus.ts
  src/extension/schedule.ts
  src/extension/spotify.ts
  src/extension/twitch.ts
  src/nodecg/generated/configschema.d.ts
  src/nodecg/generated/spotify.d.ts
  webpack.config.ts
  yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(renovate): use dependency dashboard
  .github/renovate.json
Due: prettier --write

chore(deps): update dependency @material-ui/core to v4.11.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update lint-staged config
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/got to v9.6.11
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/html-webpack-plugin to v3.2.4
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/lodash to v4.14.163
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/node to v10.17.44
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.55
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency nodecg-cli to ~6.1.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency googleapis to v62
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency lodash to v4.17.19 [security]
  yarn.lock
Due: none

fix(deps): update dependencies
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Add Dockerfile
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/nodejs.yml
  Dockerfile
  deploy
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Add Node 12
  .github/workflows/ci.yml
Due: none

Set TYPEKIT_ID
  .github/workflows/ci.yml
Due: none

Fix type error
  src/extension/schedule-import/oengus.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore(renovate): dont use dashboard approval
  .github/renovate.json
Due: prettier --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update actions/setup-node action to v2
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency @hoishin/tsconfig to v2.1.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json
