Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

お知らせを編集可能にして、複数表示できるようにする (#675)
  package.json
  schemas/announcements.json
  src/browser/dashboard/components/announcements/announcement-add.tsx
  src/browser/dashboard/components/announcements/announcement-item.tsx
  src/browser/dashboard/components/announcements/index.tsx
  src/browser/dashboard/views/announcements.tsx
  src/browser/graphics/views/omnibar.tsx
  src/nodecg/replicants.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat(tracker): make websocket optional
  configschema.json
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

refactor(graphics): fit text (tmp)
  schemas/lib/run.json
  src/browser/graphics/components/game-info/horizontal.tsx
  src/browser/graphics/components/game-info/semi-horizontal.tsx
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/components/lib/fit-text.tsx
  src/browser/graphics/components/lib/new-line-display.tsx
  src/browser/graphics/components/lib/util.tsx
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/credit.tsx
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat(tracker): make websocket optional (#676)
  configschema.json
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

走者カメラをデフォルトでONにする
  package.json
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

format
  src/browser/dashboard/components/schedule/edit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

formatやり直し
  src/browser/dashboard/components/schedule/edit.tsx
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat: config donation enabled or not
  configschema.json
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

寄付有無を設定可能にした (#679)
  configschema.json
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

走者カメラをデフォルトでONにする (#678)
  package.json
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

ダッシュボードのカメラ情報入力フォームを改善
  package.json
  src/browser/dashboard/views/camera.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fit-textは基本的に中央寄りにした
  src/browser/graphics/components/game-info/horizontal.tsx
  src/browser/graphics/components/lib/fit-text.tsx
Due: tslint -p . -t stylish --fix, prettier --write

FitTextのフォントサイズ調整を縦幅でも行うよう修正
  src/browser/graphics/components/lib/fit-text.tsx
Due: tslint -p . -t stylish --fix, prettier --write

BigNameplateに肩書を追加
  src/browser/graphics/views/camera.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: Add primary key to Checklists
  schemas/checklist.json
  src/extension/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write

ゲーム編集の分岐修正
  src/extension/schedule.ts
Due: tslint -p . -t stylish --fix, prettier --write

FitTextのフォントサイズ調整を縦幅でも行うよう修正 (#685)
  src/browser/graphics/components/lib/fit-text.tsx
Due: tslint -p . -t stylish --fix, prettier --write

ゲーム編集の分岐修正 (#688)
  src/extension/schedule.ts
Due: tslint -p . -t stylish --fix, prettier --write

BigNameplateに肩書を追加 (#687)
  src/browser/graphics/views/camera.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix(fit-text): don't fit h for semi-horizontal
  src/browser/graphics/components/game-info/semi-horizontal.tsx
  src/browser/graphics/components/lib/fit-text.tsx
  src/browser/graphics/components/lib/util.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: Show next run's checklist in running timer
  schemas/checklist.json
  schemas/lib/run.json
  src/browser/dashboard/components/checklist/Checkbox.tsx
  src/browser/dashboard/components/checklist/index.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/extension/checklist.ts
  src/extension/schedule.ts
  src/extension/timekeeping.ts
  src/extension/tracker.ts
  src/nodecg/messages.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix: Check checklist complete on change checklist rep
  src/browser/dashboard/components/timekeeper/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

refactor: Change run's checklist type
  schemas/lib/run.json
  src/browser/dashboard/components/checklist/index.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/extension/checklist.ts
  src/extension/timekeeping.ts
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

refactor
  src/extension/checklist.ts
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

refactor: Add description to run replicant
  schemas/lib/run.json
Due: prettier --write

feat(graphics): fit graphics into viewport
  src/browser/graphics/components/lib/use-element-resize.ts
  src/browser/graphics/components/lib/use-fit-viewport.ts
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/countdown.tsx
  src/browser/graphics/views/credit.tsx
  src/browser/graphics/views/game-scene/templates/H260.tsx
  src/browser/graphics/views/game-scene/templates/H300.tsx
  src/browser/graphics/views/game-scene/templates/L420.tsx
  src/browser/graphics/views/game-scene/templates/L480.tsx
  src/browser/graphics/views/game-scene/templates/V480.tsx
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix(fit-text): use resize observer
  src/browser/graphics/components/game-info/horizontal.tsx
  src/browser/graphics/components/game-info/semi-horizontal.tsx
  src/browser/graphics/components/game-info/vertical.tsx
  src/browser/graphics/components/lib/fit-text.tsx
Due: tslint -p . -t stylish --fix, prettier --write

タイマー開始後は次のゲームのチェックリストを表示する (#690)
  schemas/checklist.json
  schemas/lib/run.json
  src/browser/dashboard/components/checklist/Checkbox.tsx
  src/browser/dashboard/components/checklist/index.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/extension/checklist.ts
  src/extension/schedule.ts
  src/extension/timekeeping.ts
  src/extension/tracker.ts
  src/nodecg/messages.ts
Due: tslint -p . -t stylish --fix, prettier --write

refactor(react): eliminate class components
  src/browser/dashboard/components/checklist/index.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
  src/browser/dashboard/components/schedule/typeahead.tsx
  src/browser/dashboard/components/timekeeper/edit.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/spotify-auth.tsx
Due: tslint -p . -t stylish --fix, prettier --write

build: switch webpack to vite
  .babelrc
  .gitignore
  .prettierrc.js
  .prettierrc.json
  docker-compose.yml
  package-lock.json
  package.json
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/views/game.tsx
  src/browser/module.d.ts
  src/browser/tsconfig.json
  src/extension/lib/array.ts
  src/extension/lib/timer.ts
  src/extension/timekeeping.ts
  src/extension/tsconfig.json
  src/nodecg/messages.d.ts
  src/nodecg/replicants.d.ts
  src/template.html
  tsconfig.json
  tsconfig.node.json
  vite-plugin-nodecg.mts
  vite.config.mts
  webpack.config.ts
  webpack/graphics.html
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

refactor(react): eliminate class components (#693)
  src/browser/dashboard/components/checklist/index.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
  src/browser/dashboard/components/schedule/typeahead.tsx
  src/browser/dashboard/components/timekeeper/edit.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/spotify-auth.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore: resolve type error
  .eslintignore
  .prettierignore
  package-lock.json
  package.json
  src/nodecg/messages.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

build: fix dockerfile
  Dockerfile
Due: none

Switch to Vite.js (#694)
  .babelrc
  .eslintignore
  .gitignore
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/views/game.tsx
  src/browser/module.d.ts
  src/browser/tsconfig.json
  src/extension/lib/array.ts
  src/extension/lib/timer.ts
  src/extension/timekeeping.ts
  src/extension/tsconfig.json
  src/nodecg/messages.d.ts
  src/nodecg/replicants.d.ts
  src/template.html
  tsconfig.json
  tsconfig.node.json
  vite-plugin-nodecg.mts
  vite.config.mts
  webpack.config.ts
  webpack/graphics.html
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

Use Vite dotenv to load adobe fonts
  src/browser/fonts/migmix-2p/index.css
  src/browser/fonts/migmix-2p/migmix-2p-bold.woff
  src/browser/fonts/migmix-2p/migmix-2p-bold.woff2
  src/browser/fonts/migmix-2p/migmix-2p-regular.woff
  src/browser/fonts/migmix-2p/migmix-2p-regular.woff2
  src/browser/graphics/components/lib/text.ts
  src/browser/graphics/styles/adobe-fonts.js
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/countdown.tsx
  src/browser/graphics/views/credit.tsx
  src/browser/graphics/views/game.tsx
  src/browser/graphics/views/interval-video.tsx
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Use Vite dotenv to load adobe fonts (#695)
  src/browser/fonts/migmix-2p/index.css
  src/browser/fonts/migmix-2p/migmix-2p-bold.woff
  src/browser/fonts/migmix-2p/migmix-2p-bold.woff2
  src/browser/fonts/migmix-2p/migmix-2p-regular.woff
  src/browser/fonts/migmix-2p/migmix-2p-regular.woff2
  src/browser/graphics/components/lib/text.ts
  src/browser/graphics/styles/adobe-fonts.js
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/countdown.tsx
  src/browser/graphics/views/credit.tsx
  src/browser/graphics/views/game.tsx
  src/browser/graphics/views/interval-video.tsx
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Prevent stale reference and stale states
  src/browser/dashboard/components/announcements/announcement-add.tsx
  src/browser/dashboard/components/announcements/announcement-item.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/views/camera.tsx
Due: tslint -p . -t stylish --fix, prettier --write

More stale states reference
  src/browser/graphics/components/sponsor/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Keep FitText font-size integer
  src/browser/graphics/components/lib/fit-text.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Prevent stale reference and stale states (#696)
  src/browser/dashboard/components/announcements/announcement-add.tsx
  src/browser/dashboard/components/announcements/announcement-item.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/graphics/components/sponsor/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write
