Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore(deps): update dependency @types/node to v10.17.2
  package-lock.json
Due: prettier --write

chore(deps): update dependency @types/got to v9.6.8
  package-lock.json
Due: prettier --write

chore(deps): update dependency @types/node to v10.17.3
  package-lock.json
Due: prettier --write

chore(deps): update dependency @types/webpack to v4.39.8
  package-lock.json
Due: prettier --write

chore(deps): lock file maintenance
  package-lock.json
Due: prettier --write

chore: use yarn
  .circleci/config.yml
  package-lock.json
  yarn.lock
Due: prettier --write

fix(deps): update nodecg commit hash to aa257e6
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency include-nodecg to ^0.0.3
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: update nodecg and include-nodecg
  .gitignore
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: move renovate config to .github folder
  .github/renovate.json
Due: prettier --write

chore(deps): update dependency webpack-cli to v3.3.10
  yarn.lock
Due: none

ci: move to github actions
  .circleci/config.yml
  .github/workflows/nodejs.yml
Due: none

chore: add .gitattributes
  .gitattributes
Due: none

test
  .gitignore
Due: none

chore: copy ignore files instead of symlinks
  .eslintignore
  .gitignore
  .prettierignore
Due: none

ci: fix CI config (#249)
  .eslintignore
  .gitignore
  .prettierignore
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update babel monorepo
  yarn.lock
Due: none

chore(deps): update dependency typescript to v3.7.2
  yarn.lock
Due: none

chore(deps): update dependency @material-ui/core to v4.6.0
  yarn.lock
Due: none

chore(deps): update dependency @types/got to v9.6.9
  yarn.lock
Due: none

chore(deps): update dependency @types/styled-components to v4.1.21
  yarn.lock
Due: none

fix(deps): update dependency googleapis to v45
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix(deps): update dependency date-fns to v2.7.0
  yarn.lock
Due: none

chore(deps): update dependency @types/lodash to v4.14.146
  yarn.lock
Due: none

chore(deps): update dependency @types/node to v10.17.5
  yarn.lock
Due: none

chore(deps): update dependency @babel/core to v7.7.2
  yarn.lock
Due: none

chore(deps): update dependency @types/react-dom to v16.9.4
  yarn.lock
Due: none

chore(deps): update dependency @types/styled-components to v4.4.0
  yarn.lock
Due: none

chore(deps): update dependency sort-package-json to v1.23.1
  yarn.lock
Due: none

chore(deps): update dependency ts-node to v8.5.0
  yarn.lock
Due: none

chore(deps): update dependency html-webpack-plugin to v4.0.0-beta.11
  yarn.lock
Due: none

chore(deps): update dependency @material-ui/core to v4.6.1
  yarn.lock
Due: none

chore(deps): update dependency @types/webpack to v4.41.0
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v9.4.3
  yarn.lock
Due: none

chore(deps): update dependency @types/lodash to v4.14.149
  yarn.lock
Due: none

chore(deps): update dependency husky to v3.1.0
  yarn.lock
Due: none

chore(deps): update dependency ts-node to v8.5.2
  yarn.lock
Due: none

chore(deps): update react monorepo to v16.12.0
  yarn.lock
Due: none

chore(deps): update dependency downshift to v3.4.2
  yarn.lock
Due: none

Path conditions:
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,html}
  sort-package-json: any of: package.json
