Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": "tslint -p . -t stylish",
	"*.{ts,tsx,json,html}": "prettier --write",
	"package.json": "sort-package-json"
}

use yarn workspaces
  package.json
  rtainjapan-layouts/package.json
  rtainjapan-layouts/yarn.lock
  yarn.lock
Due: prettier --write, sort-package-json

add webpack configuration
  rtainjapan-layouts/webpack.config.ts
  rtainjapan-layouts/webpack/template.html
Due: tslint -p . -t stylish, prettier --write

tweaks
  .gitignore
  .lintstagedrc.json
  Makefile
  package.json
  rtainjapan-layouts/package.json
  rtainjapan-layouts/webpack.config.ts
  rtainjapan-layouts/yarn.lock
  tsconfig.json
  yarn.lock
Due: tslint -p . -t stylish, prettier --write, sort-package-json

add Dockerfile
  .dockerignore
  Dockerfile
Due: none

remove and ignore .vscode
  .gitignore
  .vscode/settings.json
Due: prettier --write

setup docker
  .dockerignore
  .huskyrc.json
  .lintstagedrc.json
  Dockerfile
  package.json
  rtainjapan-layouts/package.json
  rtainjapan-layouts/src/dashboard/components/schedule/edit.tsx
  rtainjapan-layouts/src/dashboard/components/timekeeper/edit.tsx
  rtainjapan-layouts/src/extension/index.ts
  rtainjapan-layouts/webpack.config.ts
  rtainjapan-layouts/yarn.lock
  yarn.lock
Due: tslint -p . -t stylish, prettier --write, sort-package-json

fix format script
  package.json
Due: prettier --write, sort-package-json

ts to json schema workflow
  .gitignore
  rtainjapan-layouts/package.json
  rtainjapan-layouts/scripts/ts-to-schema.ts
  rtainjapan-layouts/yarn.lock
Due: tslint -p . -t stylish, prettier --write, sort-package-json

add nodecg symlink
  nodecg
Due: none

tweak
  package.json
Due: prettier --write, sort-package-json

small fixes
  rtainjapan-layouts/src/dashboard/components/schedule/index.tsx
  rtainjapan-layouts/src/dashboard/views/tech.tsx
  rtainjapan-layouts/src/extension/checklist.ts
Due: tslint -p . -t stylish, prettier --write

remove nodecg symlink
  nodecg
Due: none

fix ts related webpack config
  rtainjapan-layouts/webpack.config.ts
Due: tslint -p . -t stylish, prettier --write

don't bundle twitter-callback
  .dockerignore
  rtainjapan-layouts/src/twitter-callback/index.html
  rtainjapan-layouts/twitter-callback/index.html
Due: prettier --write

add .pretterignore
  .prettierignore
Due: none

symlink db directory
  .gitignore
  Makefile
Due: none

remove twitter-callback
  rtainjapan-layouts/src/twitter-callback/index.ts
Due: tslint -p . -t stylish, prettier --write

keep db foldier
  db/.gitkeep
Due: none

remove lib directory
  .gitignore
  rtainjapan-layouts/scripts/ts-to-schema.ts
  rtainjapan-layouts/src/bundle-config/index.ts
  rtainjapan-layouts/src/replicants/index.ts
  rtainjapan-layouts/src/replicants/lib.ts
  rtainjapan-layouts/src/shared/react-devtools.ts
  rtainjapan-layouts/src/shared/timer.ts
  rtainjapan-layouts/src/shared/tweet-highlighter.tsx
Due: tslint -p . -t stylish, prettier --write

ts/webpack config tweaks
  rtainjapan-layouts/src/dashboard/tsconfig.json
  rtainjapan-layouts/src/dashboard/tsconfig.webpack.json
  rtainjapan-layouts/src/extension/tsconfig.json
  rtainjapan-layouts/src/extension/tsconfig.webpack.json
  rtainjapan-layouts/src/graphics/tsconfig.json
  rtainjapan-layouts/src/graphics/tsconfig.webpack.json
  rtainjapan-layouts/webpack.config.ts
  tsconfig.json
Due: tslint -p . -t stylish, prettier --write

fix extension errors
  rtainjapan-layouts/src/extension/checklist.ts
  rtainjapan-layouts/src/extension/index.ts
  rtainjapan-layouts/src/extension/schedule.ts
  rtainjapan-layouts/src/extension/timekeeping.ts
  rtainjapan-layouts/src/extension/twitter.ts
Due: tslint -p . -t stylish, prettier --write

fix some of dashboard/graphics errors
  rtainjapan-layouts/src/dashboard/components/checklist/index.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/edit.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/index.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/run-info.tsx
  rtainjapan-layouts/src/dashboard/components/timekeeper/index.tsx
  rtainjapan-layouts/src/dashboard/components/timekeeper/runner.tsx
  rtainjapan-layouts/src/dashboard/components/twitter/index.tsx
  rtainjapan-layouts/src/dashboard/components/twitter/tweet-item.tsx
  rtainjapan-layouts/src/dashboard/views/tech.tsx
  rtainjapan-layouts/src/dashboard/views/twitter-account.tsx
  rtainjapan-layouts/src/graphics/components/lib/nameplate/index.tsx
  rtainjapan-layouts/src/graphics/components/lib/tweet.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-game.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-timer.tsx
  rtainjapan-layouts/src/graphics/views/break.tsx
Due: tslint -p . -t stylish, prettier --write

migrate makefile to typescript
  Makefile
  package.json
  scripts/postinstall.ts
  yarn.lock
Due: tslint -p . -t stylish, prettier --write, sort-package-json

modify prettier config
  .prettierrc.json
  rtainjapan-layouts/scripts/ts-to-schema.ts
  rtainjapan-layouts/src/dashboard/components/checklist/index.tsx
  rtainjapan-layouts/src/dashboard/components/lib/colored-button.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/edit.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/index.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/run-info.tsx
  rtainjapan-layouts/src/dashboard/components/schedule/typeahead.tsx
  rtainjapan-layouts/src/dashboard/components/timekeeper/edit.tsx
  rtainjapan-layouts/src/dashboard/components/timekeeper/index.tsx
  rtainjapan-layouts/src/dashboard/components/twitter/index.tsx
  rtainjapan-layouts/src/dashboard/components/twitter/tweet-item.tsx
  rtainjapan-layouts/src/dashboard/views/twitter-account.tsx
  rtainjapan-layouts/src/extension/checklist.ts
  rtainjapan-layouts/src/extension/schedule.ts
  rtainjapan-layouts/src/extension/timekeeping.ts
  rtainjapan-layouts/src/extension/twitch-title-updater.ts
  rtainjapan-layouts/src/extension/twitter.ts
  rtainjapan-layouts/src/graphics/components/break-background.tsx
  rtainjapan-layouts/src/graphics/components/lib/base-info.tsx
  rtainjapan-layouts/src/graphics/components/lib/nameplate/index.tsx
  rtainjapan-layouts/src/graphics/components/lib/tweet.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-commentator.tsx
  rtainjapan-layouts/src/graphics/components/rtaij-timer.tsx
  rtainjapan-layouts/src/graphics/components/upcoming-run.tsx
  rtainjapan-layouts/src/graphics/views/break.tsx
  rtainjapan-layouts/src/shared/tweet-highlighter.tsx
  rtainjapan-layouts/twitter-callback/index.html
  rtainjapan-layouts/webpack.config.ts
Due: tslint -p . -t stylish, prettier --write

tweak prettier related config
  README.md
  package.json
Due: prettier --write, sort-package-json

split template for dashboard/graphics
  rtainjapan-layouts/src/fonts/migmix-2p/index.css
  rtainjapan-layouts/webpack.config.ts
  rtainjapan-layouts/webpack/dashboard.html
Due: tslint -p . -t stylish, prettier --write

tweak
  rtainjapan-layouts/webpack/dashboard.html
Due: prettier --write

update deps
  package.json
  rtainjapan-layouts/package.json
  rtainjapan-layouts/yarn.lock
  yarn.lock
Due: prettier --write, sort-package-json

fix dashboard nodecg global type
  rtainjapan-layouts/src/dashboard/tsconfig.json
  rtainjapan-layouts/src/dashboard/views/twitter-account.tsx
Due: tslint -p . -t stylish, prettier --write

remove old templates
  rtainjapan-layouts/src/dashboard/tech.html
  rtainjapan-layouts/src/dashboard/twitter-account.html
Due: prettier --write

setup css module
  .gitignore
  rtainjapan-layouts/package.json
  rtainjapan-layouts/scripts/css-module-types.ts
  rtainjapan-layouts/src/dashboard/views/twitter-account.scss
  rtainjapan-layouts/src/dashboard/views/twitter-account.tsx
  rtainjapan-layouts/webpack.config.ts
  rtainjapan-layouts/yarn.lock
Due: tslint -p . -t stylish, prettier --write, sort-package-json

tweak webpack config
  rtainjapan-layouts/webpack.config.ts
Due: tslint -p . -t stylish, prettier --write

tweak scripts
  rtainjapan-layouts/package.json
  rtainjapan-layouts/scripts/css-module-types.ts
  rtainjapan-layouts/scripts/ts-to-schema.ts
Due: tslint -p . -t stylish, prettier --write, sort-package-json

enforce submodule import
  tslint.json
Due: prettier --write

revert css module
  rtainjapan-layouts/src/dashboard/views/twitter-account.tsx
Due: tslint -p . -t stylish, prettier --write

delete scss
  rtainjapan-layouts/src/dashboard/views/twitter-account.scss
Due: none

fix timer errors
  rtainjapan-layouts/src/dashboard/components/timekeeper/index.tsx
  rtainjapan-layouts/src/dashboard/views/tech.tsx
Due: tslint -p . -t stylish, prettier --write

temporary hide components
  rtainjapan-layouts/src/dashboard/views/tech.tsx
Due: tslint -p . -t stylish, prettier --write

temporary disable graphics
  rtainjapan-layouts/package.json
Due: prettier --write, sort-package-json
