Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix: center align game info in semi-horizontal
  src/browser/graphics/components/game-info/semi-horizontal.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore: eslint on tsx files
  package.json
Due: prettier --write, sort-package-json

feat(fit-text): allow align vertically
  src/browser/graphics/components/game-info/horizontal.tsx
  src/browser/graphics/components/lib/fit-text.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat(fit-text): allow align vertically (#697)
  src/browser/graphics/components/game-info/horizontal.tsx
  src/browser/graphics/components/lib/fit-text.tsx
Due: tslint -p . -t stylish --fix, prettier --write

build(extension): use rollup to bundle server-side
  Dockerfile
  package-lock.json
  package.json
  src/browser/tsconfig.json
  src/extension/index.ts
  src/extension/spotify.ts
  src/extension/timekeeping.ts
  src/extension/tsconfig.json
  tsconfig.node.json
  vite-plugin-nodecg.mts
  vite.config.mts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: update got to v12
  package-lock.json
  package.json
  src/extension/spotify.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix: misued logger label
  src/extension/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore: upgrade eslint
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: remove unused load-json-file
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: remove prod docker
  .github/workflows/ci.yml
  Dockerfile
Due: none

build(extension): use rollup to bundle server-side (#699)
  package-lock.json
  package.json
  src/browser/tsconfig.json
  src/extension/index.ts
  src/extension/spotify.ts
  src/extension/timekeeping.ts
  src/extension/tsconfig.json
  tsconfig.node.json
  vite-plugin-nodecg.mts
  vite.config.mts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore(docker-compose): npm install inside docker-compose.yml
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

run npm install in docker compose command (#703)
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

build(extension): fix rollup build
  vite-plugin-nodecg.mts
Due: none

chore(deps): update types packages
  package-lock.json
  package.json
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix(deps): use dynamic imports for got
  src/extension/spotify.ts
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat(deps): upgrade material UI to v5
  package-lock.json
  package.json
  src/browser/dashboard/components/announcements/announcement-add.tsx
  src/browser/dashboard/components/announcements/announcement-item.tsx
  src/browser/dashboard/components/announcements/index.tsx
  src/browser/dashboard/components/checklist/Checkbox.tsx
  src/browser/dashboard/components/checklist/index.tsx
  src/browser/dashboard/components/donations/donation-item.tsx
  src/browser/dashboard/components/donations/index.tsx
  src/browser/dashboard/components/lib/colored-button.tsx
  src/browser/dashboard/components/lib/no-wrap-button.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
  src/browser/dashboard/components/schedule/typeahead.tsx
  src/browser/dashboard/components/timekeeper/edit.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/components/timekeeper/runner.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/announcements.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/credit-control.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/spotify-auth.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/dashboard/views/video-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore: remove unnecessary type
  src/browser/global.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat(deps): upgrade material UI to v5 (#706)
  package-lock.json
  package.json
  src/browser/dashboard/components/announcements/announcement-add.tsx
  src/browser/dashboard/components/announcements/announcement-item.tsx
  src/browser/dashboard/components/announcements/index.tsx
  src/browser/dashboard/components/checklist/Checkbox.tsx
  src/browser/dashboard/components/checklist/index.tsx
  src/browser/dashboard/components/donations/donation-item.tsx
  src/browser/dashboard/components/donations/index.tsx
  src/browser/dashboard/components/lib/colored-button.tsx
  src/browser/dashboard/components/lib/no-wrap-button.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
  src/browser/dashboard/components/schedule/typeahead.tsx
  src/browser/dashboard/components/timekeeper/edit.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/components/timekeeper/runner.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/announcements.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/credit-control.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/spotify-auth.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/dashboard/views/video-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat(react): upgrade React to 18
  package-lock.json
  package.json
  src/browser/dashboard/components/lib/colored-button.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/components/timekeeper/runner.tsx
  src/browser/dashboard/views/announcements.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/countdown.tsx
  src/browser/dashboard/views/credit-control.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/flash-warning.tsx
  src/browser/dashboard/views/spotify-auth.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/dashboard/views/video-control.tsx
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/countdown.tsx
  src/browser/graphics/views/credit.tsx
  src/browser/graphics/views/game-scene/templates/H260.tsx
  src/browser/graphics/views/game-scene/templates/H300.tsx
  src/browser/graphics/views/game-scene/templates/L420.tsx
  src/browser/graphics/views/game-scene/templates/L480.tsx
  src/browser/graphics/views/game-scene/templates/V480.tsx
  src/browser/graphics/views/game.tsx
  src/browser/graphics/views/interval-video.tsx
  src/browser/graphics/views/omnibar.tsx
  src/browser/render.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat(react): upgrade React to 18 (#707)
  package-lock.json
  package.json
  src/browser/dashboard/components/lib/colored-button.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/components/timekeeper/runner.tsx
  src/browser/dashboard/views/announcements.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/countdown.tsx
  src/browser/dashboard/views/credit-control.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/flash-warning.tsx
  src/browser/dashboard/views/spotify-auth.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/dashboard/views/video-control.tsx
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/countdown.tsx
  src/browser/graphics/views/credit.tsx
  src/browser/graphics/views/game-scene/templates/H260.tsx
  src/browser/graphics/views/game-scene/templates/H300.tsx
  src/browser/graphics/views/game-scene/templates/L420.tsx
  src/browser/graphics/views/game-scene/templates/L480.tsx
  src/browser/graphics/views/game-scene/templates/V480.tsx
  src/browser/graphics/views/game.tsx
  src/browser/graphics/views/interval-video.tsx
  src/browser/graphics/views/omnibar.tsx
  src/browser/render.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

refactor(typeahead): remove downshift
  package-lock.json
  package.json
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/typeahead.tsx
  src/browser/dashboard/components/twitter/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

refactor(typeahead): remove downshift (#708)
  package-lock.json
  package.json
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/typeahead.tsx
  src/browser/dashboard/components/twitter/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: use roboto
  package-lock.json
  package.json
  src/browser/dashboard/styles/global.ts
  src/browser/dashboard/views/announcements.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/countdown.tsx
  src/browser/dashboard/views/credit-control.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/flash-warning.tsx
  src/browser/dashboard/views/spotify-auth.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/dashboard/views/video-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: use roboto (#709)
  package-lock.json
  package.json
  src/browser/dashboard/styles/global.ts
  src/browser/dashboard/views/announcements.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/countdown.tsx
  src/browser/dashboard/views/credit-control.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/flash-warning.tsx
  src/browser/dashboard/views/spotify-auth.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/dashboard/views/video-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: remove twitter from dashboard
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/tech.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: remove twitter from dashboard (#710)
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/tech.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: use CssBaseline in dashboard
  src/browser/dashboard/styles/global.ts
  src/browser/dashboard/views/announcements.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/countdown.tsx
  src/browser/dashboard/views/credit-control.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/dashboard/views/flash-warning.tsx
  src/browser/dashboard/views/spotify-auth.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/dashboard/views/video-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat(dashboard): move runner up & down
  package.json
  schemas/lib/participant.json
  schemas/lib/run.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
  src/browser/dashboard/views/current-runners.tsx
  src/browser/dashboard/views/edit-tourny.tsx
  src/browser/graphics/components/lib/hooks.ts
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/views/game-scene/templates/horizontal-nameplates.tsx
  src/browser/graphics/views/game-scene/templates/vertical-gameinfo.tsx
  src/extension/sample-json/tracker/run.json
  src/extension/tracker.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix schema error
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix run index
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

revert some changes
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

revert more changes
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

revert more
  src/extension/tracker.ts
Due: tslint -p . -t stylish --fix, prettier --write

chore(types): remove all .d.ts files for type checking
  package-lock.json
  package.json
  scripts/rename-schema-types-files.mts
  src/browser/dashboard/components/announcements/announcement-add.tsx
  src/browser/dashboard/components/announcements/announcement-item.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/views/video-control.tsx
  src/browser/global.ts
  src/browser/tsconfig.json
  src/extension/checklist.ts
  src/extension/nodecg.ts
  src/extension/obs-types/filter.ts
  src/extension/obs-types/sceneItem.ts
  src/extension/tsconfig.json
  src/nodecg/messages.ts
  src/nodecg/replicants.ts
  tsconfig.json
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

feat: upgrade twurple to 6
  package-lock.json
  package.json
  src/extension/twitch.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

Use css file for global dashboard styles
  src/browser/dashboard/images/twitter-sign-in.png
  src/browser/dashboard/styles/global.css
  src/browser/dashboard/styles/global.ts
  src/browser/dashboard/views/announcements.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/countdown.tsx
  src/browser/dashboard/views/credit-control.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/dashboard/views/flash-warning.tsx
  src/browser/dashboard/views/spotify-auth.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/dashboard/views/video-control.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Don't minify, output source map from vite
  vite-plugin-nodecg.mts
Due: none

revert: pixi version
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: remove pixi from rounded-hole-image
  package-lock.json
  package.json
  src/browser/graphics/components/rounded-hole-image.tsx
  src/browser/graphics/views/background.tsx
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/game-scene/templates/H260.tsx
  src/browser/graphics/views/game-scene/templates/H300.tsx
  src/browser/graphics/views/game-scene/templates/L420.tsx
  src/browser/graphics/views/game-scene/templates/L480.tsx
  src/browser/graphics/views/game-scene/templates/V480.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

Path conditions:
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,html}
  sort-package-json: any of: package.json
