Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix w2024 image
  src/browser/graphics/images/header_rij.svg
  src/browser/graphics/images/speech_nameplate.svg
Due: none

feat: add 4x3-2-bingo-2 layout(temp, use to issac bingo)
  src/browser/graphics/views/game-scene/4x3-2-bingo-2.tsx
Due: tslint -p . -t stylish --fix, prettier --write

Fix layout name
  src/browser/graphics/views/game-scene/16x9-2-bingo.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat: Refresh current / next run
  src/browser/dashboard/components/schedule/index.tsx
  src/extension/schedule.ts
  src/nodecg/messages.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix to update target rep
  src/extension/schedule.ts
Due: tslint -p . -t stylish --fix, prettier --write

現在のゲーム・次のゲームをスケジュールの値に更新できるようにする (#761)
  src/browser/dashboard/components/schedule/index.tsx
  src/extension/schedule.ts
  src/nodecg/messages.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

登録済のファンアートURLを弾く、各要素のサイズ制限を追加
  schemas/tweets-temp-images.json
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/graphics/components/fan-art-tweet.tsx
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

リファクタリング
  src/browser/dashboard/components/twitter/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

react, mui and nodecg migration
  .gitignore
  package-lock.json
  package.json
  src/browser/dashboard/components/announcements/announcement-add.tsx
  src/browser/dashboard/components/announcements/announcement-item.tsx
  src/browser/dashboard/components/announcements/index.tsx
  src/browser/dashboard/components/checklist/index.tsx
  src/browser/dashboard/components/donations/index.tsx
  src/browser/dashboard/components/lib/bordered-box.tsx
  src/browser/dashboard/components/lib/colored-button.tsx
  src/browser/dashboard/components/lib/no-wrap-button.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
  src/browser/dashboard/components/schedule/typeahead.tsx
  src/browser/dashboard/components/timekeeper/edit.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/components/timekeeper/runner.tsx
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-add.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/announcements.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/credit-control.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/dashboard/views/twitter.tsx
  src/browser/dashboard/views/video-control.tsx
  src/browser/graphics/components/lib/blur-swipe.ts
  src/browser/graphics/components/lib/text.ts
  src/browser/graphics/components/lib/use-element-resize.ts
  src/browser/graphics/components/lib/use-fit-viewport.ts
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/views/camera.tsx
  src/extension/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

Add start script
  package.json
Due: prettier --write, sort-package-json

React, MUI, NodeCG 周りのアップデート対応 (#763)
  .gitignore
  package-lock.json
  package.json
  src/browser/dashboard/components/announcements/announcement-add.tsx
  src/browser/dashboard/components/announcements/announcement-item.tsx
  src/browser/dashboard/components/announcements/index.tsx
  src/browser/dashboard/components/checklist/index.tsx
  src/browser/dashboard/components/donations/index.tsx
  src/browser/dashboard/components/lib/bordered-box.tsx
  src/browser/dashboard/components/lib/colored-button.tsx
  src/browser/dashboard/components/lib/no-wrap-button.tsx
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/schedule/run-info.tsx
  src/browser/dashboard/components/schedule/typeahead.tsx
  src/browser/dashboard/components/timekeeper/edit.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/dashboard/components/timekeeper/runner.tsx
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-add.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/dashboard/views/announcements.tsx
  src/browser/dashboard/views/camera.tsx
  src/browser/dashboard/views/credit-control.tsx
  src/browser/dashboard/views/donations.tsx
  src/browser/dashboard/views/tech.tsx
  src/browser/dashboard/views/twitter.tsx
  src/browser/dashboard/views/video-control.tsx
  src/browser/graphics/components/lib/blur-swipe.ts
  src/browser/graphics/components/lib/text.ts
  src/browser/graphics/components/lib/use-element-resize.ts
  src/browser/graphics/components/lib/use-fit-viewport.ts
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/views/camera.tsx
  src/extension/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

ライブラリをreact-transitioningに移行してみる
  package-lock.json
  package.json
  src/browser/graphics/components/nameplate/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

型エラー修正
  src/browser/graphics/components/nameplate/index.tsx
  src/extension/debug/fake-tracker-socket.ts
  src/extension/spotify.ts
  src/extension/timekeeping.ts
Due: tslint -p . -t stylish --fix, prettier --write

make event logo
  configschema.json
  src/browser/graphics/components/event-logo.tsx
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

update cameras
  src/browser/graphics/components/camera.tsx
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/game-scene/templates/H260.tsx
  src/browser/graphics/views/game-scene/templates/H300.tsx
  src/browser/graphics/views/game-scene/templates/L420.tsx
  src/browser/graphics/views/game-scene/templates/L480.tsx
  src/browser/graphics/views/game-scene/templates/V480.tsx
Due: tslint -p . -t stylish --fix, prettier --write

登録済のファンアートURLを弾く、各要素のサイズ制限を追加 (#762)
  schemas/tweets-temp-images.json
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/graphics/components/fan-art-tweet.tsx
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

待機画面の実装、omnibarから寄付メッセージ部分削除
  configschema.json
  src/browser/graphics/components/donation-message.tsx
  src/browser/graphics/components/fan-art-tweet.tsx
  src/browser/graphics/components/music.tsx
  src/browser/graphics/images/icon/icon_x.svg
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

分割文字列のデフォルト値を修正
  configschema.json
Due: prettier --write

ファンアートの入力項目を追加、Xアイコンの表示分岐実装、fontWeight修正、BGMのテキスト分割を逆に修正
  schemas/tweets-temp.json
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-add.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/graphics/components/donation-message.tsx
  src/browser/graphics/components/fan-art-tweet.tsx
  src/browser/graphics/components/music.tsx
Due: tslint -p . -t stylish --fix, prettier --write

待機画面の実装、omnibarから寄付メッセージ部分削除 (#765)
  configschema.json
  schemas/tweets-temp.json
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-add.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/browser/graphics/components/donation-message.tsx
  src/browser/graphics/components/fan-art-tweet.tsx
  src/browser/graphics/components/music.tsx
  src/browser/graphics/images/icon/icon_x.svg
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/break.tsx
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

nameplate feature
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/nameplate/sync-display.tsx
  src/browser/graphics/components/nameplate/ui/common.tsx
  src/browser/graphics/components/nameplate/ui/single-row.tsx
  src/browser/graphics/components/nameplate/ui/two-row.tsx
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/game-scene/10x9-10x9-2.tsx
  src/browser/graphics/views/game-scene/10x9-2.tsx
  src/browser/graphics/views/game-scene/10x9-3.tsx
  src/browser/graphics/views/game-scene/10x9-4.tsx
  src/browser/graphics/views/game-scene/16x9-2-bingo.tsx
  src/browser/graphics/views/game-scene/16x9-2.tsx
  src/browser/graphics/views/game-scene/16x9-3-alt.tsx
  src/browser/graphics/views/game-scene/16x9-3.tsx
  src/browser/graphics/views/game-scene/16x9-4.tsx
  src/browser/graphics/views/game-scene/3ds-2-flat.tsx
  src/browser/graphics/views/game-scene/3ds-2-top.tsx
  src/browser/graphics/views/game-scene/3x2-2-flash.tsx
  src/browser/graphics/views/game-scene/3x2-2.tsx
  src/browser/graphics/views/game-scene/3x2-3.tsx
  src/browser/graphics/views/game-scene/3x2-4.tsx
  src/browser/graphics/views/game-scene/4x3-2-bingo.tsx
  src/browser/graphics/views/game-scene/4x3-2.tsx
  src/browser/graphics/views/game-scene/4x3-3.tsx
  src/browser/graphics/views/game-scene/4x3-4.tsx
  src/browser/graphics/views/game-scene/ds-2-flat.tsx
  src/browser/graphics/views/game-scene/templates/horizontal-nameplates.tsx
  src/browser/graphics/views/game-scene/templates/vertical-gameinfo.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix
  src/browser/graphics/views/game-scene/templates/vertical-gameinfo.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix event logo
  src/browser/graphics/components/event-logo.tsx
Due: tslint -p . -t stylish --fix, prettier --write

camera feature
  schemas/camera-state.json
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/camera.tsx
  src/extension/index.ts
Due: tslint -p . -t stylish --fix, prettier --write

nameplate container
  src/browser/graphics/components/nameplate/container.tsx
  src/browser/graphics/images/header_underline.svg
  src/browser/graphics/views/game-scene/templates/L480.tsx
  src/browser/graphics/views/game-scene/templates/vertical-gameinfo.tsx
Due: tslint -p . -t stylish --fix, prettier --write

delete adobe fonts imports
  src/browser/graphics/styles/adobe-fonts.js
  src/browser/graphics/views/camera.tsx
  src/browser/graphics/views/countdown.tsx
  src/browser/graphics/views/credit.tsx
  src/browser/graphics/views/game.tsx
  src/browser/graphics/views/interval-video.tsx
  src/browser/graphics/views/setup-idol.tsx
Due: tslint -p . -t stylish --fix, prettier --write

horizontal race layout
  src/browser/graphics/components/camera.tsx
  src/browser/graphics/components/event-logo.tsx
  src/browser/graphics/components/game-info/horizontal.tsx
  src/browser/graphics/components/lib/fit-text.tsx
  src/browser/graphics/components/nameplate/container.tsx
  src/browser/graphics/components/nameplate/ui/single-row.tsx
  src/browser/graphics/components/nameplate/ui/two-row.tsx
  src/browser/graphics/components/rounded-hole-image.tsx
  src/browser/graphics/components/video-frame.tsx
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/game-scene/10x9-2.tsx
  src/browser/graphics/views/game-scene/10x9-3.tsx
  src/browser/graphics/views/game-scene/16x9-2.tsx
  src/browser/graphics/views/game-scene/3x2-2.tsx
  src/browser/graphics/views/game-scene/4x3-2.tsx
  src/browser/graphics/views/game-scene/4x3-3.tsx
  src/browser/graphics/views/game-scene/templates/horizontal-nameplates.tsx
  src/browser/graphics/views/game-scene/templates/race-horizontal.tsx
Due: tslint -p . -t stylish --fix, prettier --write

l-shaped layouts
  src/browser/graphics/views/game-scene/10x9-1.tsx
  src/browser/graphics/views/game-scene/16x9-1.tsx
  src/browser/graphics/views/game-scene/3ds-1-bottom.tsx
  src/browser/graphics/views/game-scene/3ds-1-top.tsx
  src/browser/graphics/views/game-scene/3ds-1-unflat.tsx
  src/browser/graphics/views/game-scene/4x3-1.tsx
  src/browser/graphics/views/game-scene/ds-1-bottom.tsx
  src/browser/graphics/views/game-scene/ds-1-top.tsx
  src/browser/graphics/views/game-scene/ds-1-unflat.tsx
  src/browser/graphics/views/game-scene/templates/solo-l-shape.tsx
Due: tslint -p . -t stylish --fix, prettier --write

split layouts
  src/browser/graphics/views/game-scene/3ds-1-flat.tsx
  src/browser/graphics/views/game-scene/ds-1-flat.tsx
  src/browser/graphics/views/game-scene/templates/solo-split.tsx
Due: tslint -p . -t stylish --fix, prettier --write

vertical race layout
  src/browser/graphics/components/lib/timer.tsx
  src/browser/graphics/components/nameplate/ui/two-row.tsx
  src/browser/graphics/views/game-scene/10x9-4.tsx
  src/browser/graphics/views/game-scene/16x9-3.tsx
  src/browser/graphics/views/game-scene/16x9-4.tsx
  src/browser/graphics/views/game-scene/3ds-2-bottom.tsx
  src/browser/graphics/views/game-scene/3ds-2-flat.tsx
  src/browser/graphics/views/game-scene/3ds-2-top.tsx
  src/browser/graphics/views/game-scene/3x2-3.tsx
  src/browser/graphics/views/game-scene/3x2-4.tsx
  src/browser/graphics/views/game-scene/4x3-4.tsx
  src/browser/graphics/views/game-scene/ds-2-bottom.tsx
  src/browser/graphics/views/game-scene/ds-2-flat.tsx
  src/browser/graphics/views/game-scene/ds-2-top.tsx
  src/browser/graphics/views/game-scene/templates/race-vertical.tsx
Due: tslint -p . -t stylish --fix, prettier --write

chore: Remove unused import
  src/browser/graphics/components/nameplate/ui/two-row.tsx
Due: tslint -p . -t stylish --fix, prettier --write

update announcement allow no title
  schemas/announcements.json
  src/browser/dashboard/components/announcements/index.tsx
  src/browser/graphics/views/omnibar.tsx
Due: tslint -p . -t stylish --fix, prettier --write

add gc + gba
  src/browser/graphics/views/game-scene/4x3-1-gba.tsx
Due: tslint -p . -t stylish --fix, prettier --write

credit
  src/browser/dashboard/views/camera.tsx
  src/browser/graphics/styles/colors.ts
  src/browser/graphics/views/credit.tsx
Due: tslint -p . -t stylish --fix, prettier --write

delete unused view and templates
  src/browser/graphics/views/game-scene/10x9-10x9-2.tsx
  src/browser/graphics/views/game-scene/16x9-2-bingo.tsx
  src/browser/graphics/views/game-scene/16x9-3-alt.tsx
  src/browser/graphics/views/game-scene/3x2-2-flash.tsx
  src/browser/graphics/views/game-scene/3x4-1.tsx
  src/browser/graphics/views/game-scene/4x3-2-bingo.tsx
  src/browser/graphics/views/game-scene/templates/H260.tsx
  src/browser/graphics/views/game-scene/templates/H300.tsx
  src/browser/graphics/views/game-scene/templates/L420.tsx
  src/browser/graphics/views/game-scene/templates/L480.tsx
  src/browser/graphics/views/game-scene/templates/V480.tsx
  src/browser/graphics/views/game-scene/templates/horizontal-nameplates.tsx
  src/browser/graphics/views/setup-idol.tsx
Due: tslint -p . -t stylish --fix, prettier --write

delete unused graphics definition
  package.json
Due: prettier --write, sort-package-json

countdown
  src/browser/graphics/components/music.tsx
  src/browser/graphics/views/countdown.tsx
Due: tslint -p . -t stylish --fix, prettier --write

migrate to NodeJS.Timeout from deprecated Timer
  src/extension/spotify.ts
  src/extension/timekeeping.ts
Due: tslint -p . -t stylish --fix, prettier --write

Make screenshot test
  package-lock.json
  package.json
  test/screenshot-graphics.ts
  test/screenshots/.gitignore
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

Path conditions:
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,html}
  sort-package-json: any of: package.json
