Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.13
  yarn.lock
Due: none

chore(deps): update dependency sort-package-json to v1.24.0
  yarn.lock
Due: none

chore(deps): update dependency file-loader to v5
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/node to v10.17.6
  yarn.lock
Due: none

chore(deps): update dependency @types/webpack-node-externals to v1.7.0
  yarn.lock
Due: none

chore(deps): update babel monorepo to v7.7.4
  yarn.lock
Due: none

chore(deps): update dependency @material-ui/core to v4.7.0
  yarn.lock
Due: none

chore(deps): update dependency file-loader to v4.3.0
  yarn.lock
Due: none

chore(deps): update dependency file-loader to v5.0.2
  yarn.lock
Due: none

fix(deps): update dependency date-fns to v2.8.1
  yarn.lock
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency downshift to v3.4.3
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v9.5.0
  yarn.lock
Due: none

ci: disable fail-fast
  .github/workflows/nodejs.yml
Due: none

chore(deps): update dependency style-loader to v1.0.1
  yarn.lock
Due: none

chore(deps): update dependency sort-package-json to v1.26.0
  yarn.lock
Due: none

chore(deps): update dependency downshift to v3.4.4
  yarn.lock
Due: none

chore(deps): update dependency @material-ui/core to v4.7.1
  yarn.lock
Due: none

chore(deps): update dependency ts-node to v8.5.4
  yarn.lock
Due: none

chore(deps): update dependency sort-package-json to v1.29.0
  yarn.lock
Due: none

chore(deps): update dependency typescript to v3.7.3
  yarn.lock
Due: none

chore(deps): update dependency css-loader to v3.2.1
  yarn.lock
Due: none

chore(deps): update babel monorepo
  yarn.lock
Due: none

chore(renovate): disable lockfile maintenance
  .github/renovate.json
Due: prettier --write

chore: upgrade serialize-javascript sub dependency
  yarn.lock
Due: none

fix(deps): update dependency googleapis to v46
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency downshift to v4
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency modern-normalize to ^0.6.0
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

add deploy script
  deploy
Due: none

disable webpack's node polyfills
  webpack.config.ts
Due: tslint -p . -t stylish --fix, prettier --write

replace brown background
  src/browser/graphics/images/background-brown.png
Due: none

fix twitch integration error
  package.json
  src/extension/twitch.ts
  yarn.lock
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

don't log "playing nothing"
  src/extension/spotify.ts
Due: tslint -p . -t stylish --fix, prettier --write

update checklist
  src/extension/default/checklist.ts
Due: tslint -p . -t stylish --fix, prettier --write

dynamically load blue/brown logo
  src/browser/graphics/components/rtaij-overlay.tsx
  src/browser/graphics/images/logo/blue/animated-0.gif
  src/browser/graphics/images/logo/blue/animated-1.gif
  src/browser/graphics/images/logo/blue/animated-2.gif
  src/browser/graphics/images/logo/blue/animated-3.gif
  src/browser/graphics/images/logo/blue/animated-4.gif
  src/browser/graphics/images/logo/blue/animated-5.gif
  src/browser/graphics/images/logo/blue/animated-6.gif
  src/browser/graphics/images/logo/blue/animated-7.gif
  src/browser/graphics/images/logo/blue/animated-8.gif
  src/browser/graphics/images/logo/blue/animated-9.gif
  src/browser/graphics/images/logo/blue/index.png
  src/browser/graphics/images/logo/blue/tainjapan.png
  src/browser/graphics/images/logo/brown/animated-0.gif
  src/browser/graphics/images/logo/brown/animated-1.gif
  src/browser/graphics/images/logo/brown/animated-2.gif
  src/browser/graphics/images/logo/brown/animated-3.gif
  src/browser/graphics/images/logo/brown/animated-4.gif
  src/browser/graphics/images/logo/brown/animated-5.gif
  src/browser/graphics/images/logo/brown/animated-6.gif
  src/browser/graphics/images/logo/brown/animated-7.gif
  src/browser/graphics/images/logo/brown/animated-8.gif
  src/browser/graphics/images/logo/brown/animated-9.gif
  src/browser/graphics/images/logo/brown/index.png
  src/browser/graphics/images/logo/brown/tainjapan.png
Due: tslint -p . -t stylish --fix, prettier --write

replace brown R logo
  src/browser/graphics/images/logo/brown/index.png
Due: none

add new break layout
  package.json
  src/browser/graphics/images/break-2/frame.png
  src/browser/graphics/views/break-2.tsx
  src/browser/use-replicant.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

add QWOP layout
  package.json
  src/browser/graphics/views/qwop.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

fix(deps): update dependency googleapis to v47
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Path conditions:
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,html}
  sort-package-json: any of: package.json
