Repository RTAinJapan/rtainjapan-layouts: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t stylish --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["tslint -p . -t stylish --fix", "git add"],
	"*.{ts,tsx,json,html}": ["prettier --write", "git add"],
	"package.json": ["sort-package-json", "git add"]
}

WING設定パネルに編集ロックを追加
  src/browser/dashboard/views/wing-audio.tsx
Due: tslint -p . -t stylish --fix, prettier --write

WING設定: 確定が反映されない不具合を修正
  src/browser/dashboard/views/wing-audio.tsx
Due: tslint -p . -t stylish --fix, prettier --write

fix caption
  package.json
  src/browser/dashboard/views/wing-audio.tsx
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

screenshot: 発光バリエーション(走者マイク/解説マイク/ゲーム音on-air)を追加
  test/fixtures/sample-data.ts
  test/screenshot-graphics.ts
Due: tslint -p . -t stylish --fix, prettier --write

実機動作確認の結果を反映
  schemas/audio-config.json
  src/extension/wing.ts
Due: tslint -p . -t stylish --fix, prettier --write

WING連携: マイク/ゲーム音で nameplate を発光させる (#795)
  package.json
  schemas/audio-active.json
  schemas/audio-assignment.json
  schemas/audio-config.json
  schemas/audio-status.json
  src/browser/dashboard/components/schedule/edit.tsx
  src/browser/dashboard/views/wing-audio.tsx
  src/browser/graphics/components/lib/hooks.ts
  src/browser/graphics/components/nameplate/index.tsx
  src/browser/graphics/components/nameplate/ui/common.tsx
  src/browser/graphics/components/nameplate/ui/single-row.tsx
  src/browser/graphics/components/nameplate/ui/two-row.tsx
  src/extension/index.ts
  src/extension/schedule.ts
  src/extension/wing.ts
  src/nodecg/replicants.d.ts
  test/fixtures/sample-data.ts
  test/screenshot-graphics.ts
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

build(deps): bump Vite to 8 and apply pending dependabot updates
  package-lock.json
  package.json
  vite-plugin-nodecg.mts
Due: prettier --write, sort-package-json

build(deps): bump Vite to 8 and apply pending dependabot updates (#814)
  package-lock.json
  package.json
  vite-plugin-nodecg.mts
Due: prettier --write, sort-package-json

最終ゲームの「次へ」で空欄に遷移できるようにする (#768)
  src/extension/schedule.ts
Due: tslint -p . -t stylish --fix, prettier --write

空欄状態がスケジュール更新で先頭ゲームに戻る問題を修正 (#768)
  src/extension/schedule.ts
Due: tslint -p . -t stylish --fix, prettier --write

空欄維持と自動復帰を両立させる (#768)
  src/extension/schedule.ts
Due: tslint -p . -t stylish --fix, prettier --write

#768: 閉幕状態を専用レプリカント ending で表現する
  schemas/ending.json
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/graphics/components/lib/hooks.ts
  src/browser/graphics/views/break.tsx
  src/extension/schedule.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

#768: 閉幕表示中は「次」ボタンを無効化する
  src/browser/dashboard/components/schedule/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

#768: 閉幕表示中はダッシュボード右側も閉幕用表示にする
  src/browser/dashboard/components/schedule/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

最終ゲームの「次へ」で閉幕用の表示に遷移できるようにする (#768) (#816)
  schemas/ending.json
  src/browser/dashboard/components/schedule/index.tsx
  src/browser/dashboard/components/timekeeper/index.tsx
  src/browser/graphics/components/lib/hooks.ts
  src/browser/graphics/views/break.tsx
  src/extension/schedule.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

ファンアートを一時保存して「まとめて表示」できるようにする (#758)
  configschema.json
  schemas/obs-current-scene.json
  schemas/tweets-temp.json
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/extension/index.ts
  src/extension/obs.ts
  src/extension/tweet-queue.ts
  src/nodecg/messages.d.ts
  src/nodecg/replicants.d.ts
  test/fixtures/sample-data.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix(obs): 接続済みでも毎秒再接続していた不具合を修正 (#758)
  src/extension/obs.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat(twitter): 「表示開始/表示停止」ボタンの状態制御を追加 (#758)
  src/browser/dashboard/components/twitter/index.tsx
  src/extension/tweet-queue.ts
  src/nodecg/messages.d.ts
  src/nodecg/replicants.d.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix(twitter): キュー追加/解除ボタンのツールチップを簡潔にする (#758)
  src/browser/dashboard/components/twitter/tweet-item.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat(twitter): ツイート一覧を最大高さ内でスクロールさせる (#758)
  src/browser/dashboard/components/twitter/index.tsx
Due: tslint -p . -t stylish --fix, prettier --write

feat(obs): 自動録画のオン/オフ設定 (obs.autoRecord) を追加 (#758)
  configschema.json
  src/extension/obs.ts
Due: tslint -p . -t stylish --fix, prettier --write

fix(tweet-queue): OBS切断時はシーンゲートを緩めて開始/消化を許可する (#758)
  src/browser/dashboard/components/twitter/index.tsx
  src/extension/tweet-queue.ts
Due: tslint -p . -t stylish --fix, prettier --write

ファンアートを一時保存して「まとめて表示」できるようにする (#758) (#817)
  configschema.json
  schemas/obs-current-scene.json
  schemas/tweets-temp.json
  src/browser/dashboard/components/twitter/index.tsx
  src/browser/dashboard/components/twitter/tweet-item.tsx
  src/extension/index.ts
  src/extension/obs.ts
  src/extension/tweet-queue.ts
  src/nodecg/messages.d.ts
  src/nodecg/replicants.d.ts
  test/fixtures/sample-data.ts
Due: tslint -p . -t stylish --fix, prettier --write

Stream Deck: 走者名表示アクション追加と長い名前のはみ出し表示 (#759)
  streamdeck/README.md
  streamdeck/jp.rtainjapan.layouts.sdPlugin/manifest.json
  streamdeck/jp.rtainjapan.layouts.sdPlugin/ui/runner.html
  streamdeck/src/actions/runner-name.ts
  streamdeck/src/lib/key-state.ts
  streamdeck/src/lib/render.ts
  streamdeck/src/plugin.ts
Due: tslint -p . -t stylish --fix, prettier --write

Stream Deck: リタイアのキー背景を暗めのグレーに変更 (#759)
  streamdeck/src/lib/render.ts
Due: tslint -p . -t stylish --fix, prettier --write

Stream Deck: タイマーメッセージを fire-and-forget で送信 (#759)
  streamdeck/src/actions/start-timer.ts
  streamdeck/src/actions/stop-timer.ts
  streamdeck/src/nodecg/client.ts
Due: tslint -p . -t stylish --fix, prettier --write

Stream Deck からタイマーを操作するプラグインを追加 (#759)
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  streamdeck/README.md
  streamdeck/jp.rtainjapan.layouts.sdPlugin/imgs/actions/icon.png
  streamdeck/jp.rtainjapan.layouts.sdPlugin/imgs/actions/icon@2x.png
  streamdeck/jp.rtainjapan.layouts.sdPlugin/imgs/actions/key.png
  streamdeck/jp.rtainjapan.layouts.sdPlugin/imgs/actions/key@2x.png
  streamdeck/jp.rtainjapan.layouts.sdPlugin/imgs/plugin/category.png
  streamdeck/jp.rtainjapan.layouts.sdPlugin/imgs/plugin/category@2x.png
  streamdeck/jp.rtainjapan.layouts.sdPlugin/imgs/plugin/marketplace.png
  streamdeck/jp.rtainjapan.layouts.sdPlugin/imgs/plugin/marketplace@2x.png
  streamdeck/jp.rtainjapan.layouts.sdPlugin/manifest.json
  streamdeck/jp.rtainjapan.layouts.sdPlugin/ui/complete-runner.html
  streamdeck/jp.rtainjapan.layouts.sdPlugin/ui/connection.html
  streamdeck/jp.rtainjapan.layouts.sdPlugin/ui/resume-runner.html
  streamdeck/jp.rtainjapan.layouts.sdPlugin/ui/send-message.html
  streamdeck/package-lock.json
  streamdeck/package.json
  streamdeck/rollup.config.mjs
  streamdeck/src/actions/base.ts
  streamdeck/src/actions/complete-runner.ts
  streamdeck/src/actions/reload.ts
  streamdeck/src/actions/resume-runner.ts
  streamdeck/src/actions/send-message.ts
  streamdeck/src/actions/start-timer.ts
  streamdeck/src/actions/stop-timer.ts
  streamdeck/src/lib/key-state.ts
  streamdeck/src/lib/render.ts
  streamdeck/src/nodecg/client.ts
  streamdeck/src/nodecg/replicants.ts
  streamdeck/src/plugin.ts
  streamdeck/src/settings.ts
  streamdeck/tools/generate-placeholder-icons.mjs
  streamdeck/tsconfig.json
Due: tslint -p . -t stylish --fix, prettier --write, sort-package-json

Stream Deck: バンドルを .cjs 出力にして起動クラッシュを修正 (#759)
  streamdeck/jp.rtainjapan.layouts.sdPlugin/manifest.json
  streamdeck/rollup.config.mjs
Due: prettier --write

Stream Deck: キー画像を base64 SVG データURIで送信 (#759)
  streamdeck/src/lib/render.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat(streamdeck): ファンアート「まとめて表示」開始/停止アクションを追加 (#759)
  streamdeck/README.md
  streamdeck/jp.rtainjapan.layouts.sdPlugin/manifest.json
  streamdeck/src/actions/start-fanart.ts
  streamdeck/src/actions/stop-fanart.ts
  streamdeck/src/lib/key-state.ts
  streamdeck/src/nodecg/client.ts
  streamdeck/src/plugin.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat(streamdeck): タイマー/ファンアートのキーを3行表示にする (#759)
  streamdeck/src/lib/key-state.ts
  streamdeck/src/lib/render.ts
Due: tslint -p . -t stylish --fix, prettier --write

feat(streamdeck): 走者ボタンを3行表示にし、完走/リタイアを別アクションに分割 (#759)
  streamdeck/README.md
  streamdeck/jp.rtainjapan.layouts.sdPlugin/manifest.json
  streamdeck/jp.rtainjapan.layouts.sdPlugin/ui/complete-runner.html
  streamdeck/src/actions/complete-runner.ts
  streamdeck/src/actions/forfeit-runner.ts
  streamdeck/src/lib/key-state.ts
  streamdeck/src/lib/render.ts
  streamdeck/src/plugin.ts
  streamdeck/src/settings.ts
Due: tslint -p . -t stylish --fix, prettier --write

docs(streamdeck): READMEにファンアート操作と完走/リタイア独立を反映 (#759)
  streamdeck/README.md
Due: none

docs(streamdeck): READMEのタイトル/説明/補足を整理 (#759)
  streamdeck/README.md
Due: none

chore(streamdeck): プラグイン名/説明をNodeCGレイアウト基準に変更 (#759)
  streamdeck/jp.rtainjapan.layouts.sdPlugin/manifest.json
Due: prettier --write

chore(streamdeck): 独立リポジトリ用に切り出した構成一式のzipを添付 (#759)
  rtainjapan-layouts-streamdeck-standalone.zip
Due: none
